n8n-workflows/AI Clone.json
{
  "active": false,
  "connections": {
    "Wait ": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Script": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Wait ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Write Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Blotato": {
      "main": [
        [
          {
            "node": "Publish Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Write Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-17T19:44:46.209Z",
  "id": "8D5MPXuKG6c89p2s",
  "isArchived": false,
  "meta": null,
  "name": "AI Clone",
  "nodes": [
    {
      "parameters": {
        "amount": 210
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        112
      ],
      "id": "5e278d94-8a7e-4c77-a4fe-56826bc4a7fb",
      "name": "Wait ",
      "webhookId": "dd6a3e15-59e6-4429-951b-821ed99f73be"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE: You're an expert in viral short-form video content creation with 10 years of experience. You've created viral short videos that have gotten 10 billion views in total.\n\nOBJECTIVE: Your goal is to prepare all the materials for my next short video. It should be super valuable to my audience. I'm paying you ten thousand dollars for it.\n\nSCENARIO: I run an Instagram page about marketing and sales. My audience is marketers, salespeople, founders, B2B business owners, B2C business owners, brands. My goal is to help them build better brands with valuable, and practical content. I do Instagram Reels. My content is about growth hacks: for instance, use this marketing technique on your social media page to trigger more sales.\n\nEXPECTATION: Write a script for my next 30 seconds Instagram Reel. Make sure to have great: hook, retention, and reward at the end. Example output:\n5 Social Media Trends Dominating 2025. Stop posting like it's 2024. AI Transparency — Marketers are showing their AI prompts instead of hiding them. Be open about your process. Social Search — TikTok and Instagram are replacing Google for product discovery. Optimize for search, not just likes. In-App Shopping — 46% of consumers buy directly through social media. Your posts are now storefronts. Real Communities — People want genuine connections, not follower counts. Build relationships that matter. Multi-Platform Video — All platforms now prioritize video content. Create once, adapt everywhere. Social media isn't just marketing anymore — it's discovery, community, and commerce combined. Ready to adapt?\n\nOutput nothing except for the script. Plain text with no new lines. Begin:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        288,
        112
      ],
      "id": "ef4681b7-5fab-4c6e-9338-09ee2ddcbae8",
      "name": "Write Script"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"650fef8b47eb4458a98d44b6aa154b88\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.output }}\",\n        \"voice_id\": \"89520ae282e247df996ba8be59e55f1c\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  },\n  \"aspect_ratio\": \"9:16\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        112
      ],
      "id": "5d8b0c62-5b20-4812-bed8-21b5eaf26c6b",
      "name": "Generate Video",
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "i6X3fH9gEWk4yda5",
          "name": "VERTEX API ACCESS"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        112
      ],
      "id": "eac1a436-a358-488e-9cd7-1f618ed47618",
      "name": "Start"
    },
    {
      "parameters": {
        "content": "# Write Script",
        "height": 380,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "87c3c2db-7229-406e-b8b6-ee6b95d2420e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Generate Video",
        "height": 380,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        0
      ],
      "typeVersion": 1,
      "id": "c8e251c2-6a61-42c3-9d47-376c0b13fa50",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Auto Post",
        "height": 380,
        "width": 460,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        0
      ],
      "typeVersion": 1,
      "id": "40ae60cc-b284-48c0-9eed-e809c2ecf0df",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.data.video_url }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        112
      ],
      "id": "6b3eaa5c-9e99-48c5-82d5-55b050b800d9",
      "name": "Upload Blotato"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"I'm an AI clone\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"9107\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        112
      ],
      "id": "b5bb73ef-c748-4e58-ad7d-7847e4756510",
      "name": "Publish Video"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        272
      ],
      "id": "a7e1a1c2-e394-4c14-aadf-3326fc44104d",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.video_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        112
      ],
      "id": "41105e69-544b-4ed9-8e71-d72ae3af51de",
      "name": "Download Video"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-03T14:46:00.650Z",
      "updatedAt": "2025-08-03T14:46:00.650Z",
      "id": "7wfuZNHPxfbgubll",
      "name": "Costs $"
    },
    {
      "createdAt": "2025-08-02T18:56:26.268Z",
      "updatedAt": "2025-08-02T18:56:26.268Z",
      "id": "nnDA7isE4OxnQFwX",
      "name": "Development"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-17T19:44:50.644Z",
  "versionId": "8025f86c-0335-4943-9651-8eed1320c0c0"
}