n8n-workflows/AI Video Analysis.json
{
  "active": false,
  "connections": {
    "Upload_File": {
      "main": [
        [
          {
            "node": "Get_Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission 2": {
      "main": [
        [
          {
            "node": "Upload_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analysis": {
      "main": [
        [
          {
            "node": "Video Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 seconds": {
      "main": [
        [
          {
            "node": "Get Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Analysis": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "YouTube Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Video": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-03T14:23:34.043Z",
  "id": "r0Xj21dXjlmmFnQz",
  "isArchived": false,
  "meta": null,
  "name": "AI Video Analysis",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Command",
              "value": "start, upload, finalize"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $binary.Video.fileSize }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $binary.Video.fileType }}/{{ $binary.Video.fileExtension }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.Video.fileType }}/{{ $binary.Video.fileExtension }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "Video",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        624
      ],
      "id": "11496ac8-d3ab-469c-9f3e-19bf8a07d171",
      "name": "Upload_File",
      "credentials": {
        "httpQueryAuth": {
          "id": "RZX4FpcD6VQcFsSa",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"fileData\": {\n            \"fileUri\": \"{{ $json.file.uri }}\",\n            \"mimeType\": \"{{ $json.file.mimeType }}\"\n          }\n        },\n        {\n          \"text\": \"Describe what's going on in the video in great detail.\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        624
      ],
      "id": "1a9eedd6-dbe5-4791-b413-e7e9387699ce",
      "name": "Get_Analysis",
      "credentials": {
        "httpQueryAuth": {
          "id": "RZX4FpcD6VQcFsSa",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Insert Video",
        "formDescription": "Drop in a video for analysis.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Video",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        784,
        624
      ],
      "id": "28522963-29ef-45ff-b3dd-240de975b05e",
      "name": "On form submission 2",
      "webhookId": "19cf8ff9-5459-4553-a36a-ad32831ff455",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"fileData\": {\n            \"fileUri\": \"{{ $json.file.uri }}\",\n            \"mimeType\": \"{{ $json.file.mimeType }}\"\n          }\n        },\n        {\n          \"text\": \"Describe what's going on in the video in great detail. Describe the entire video.\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        64
      ],
      "id": "1e047a57-b875-404d-8c83-a3bdd99f06f0",
      "name": "Get Analysis",
      "credentials": {
        "httpQueryAuth": {
          "id": "RZX4FpcD6VQcFsSa",
          "name": "Google Gemini"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        64
      ],
      "id": "cd50505f-8615-400e-a38e-b9b0516d2b4f",
      "name": "5 seconds",
      "webhookId": "2ae152a3-3b31-497a-b285-8a19a7933c07"
    },
    {
      "parameters": {
        "formTitle": "Insert Video",
        "formDescription": "Drop in a video for analysis.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Video",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        720,
        64
      ],
      "id": "fc558f24-50cf-496b-adea-e31c54064f01",
      "name": "On form submission",
      "webhookId": "d5b07e65-1bc8-4d57-9c91-e3f7531dbd08",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Form Trigger\n",
        "height": 220,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "eb992b6a-1a7d-4fd7-9601-13a4b1bba3a3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Upload File\n\n",
        "height": 220,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "b5b58ab1-4855-44ae-992d-092923e9140e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Analysis\n\n",
        "height": 220,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        0
      ],
      "id": "0bfb0109-2355-4bf0-b429-77eaedd00c0d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        64
      ],
      "id": "9f71ed1d-bff5-4eff-a5ae-5c4c828dfae3",
      "name": "Wait",
      "webhookId": "bf2e644e-b6de-463f-938b-71c42da94efe"
    },
    {
      "parameters": {
        "content": "## Wait\n\n",
        "height": 220,
        "width": 220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        0
      ],
      "id": "850b44a9-7395-43d7-91b0-30a2a8412506",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Polling\n\n",
        "height": 220,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        0
      ],
      "id": "2bcd7357-af71-47d3-84a7-bc5efd64f67e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "268682ab-62a0-4e6f-aea0-652b30325f70",
              "name": "Video Analysis",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        64
      ],
      "id": "a3b823fd-4f9f-4577-91b0-ad7b66f0f611",
      "name": "Video Analysis"
    },
    {
      "parameters": {
        "content": "## Result\n\n\n",
        "height": 220,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        0
      ],
      "id": "4df93acd-e214-4bf8-a0cb-e365ff7f34cc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Why We Have to Poll",
        "height": 280,
        "width": 900,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        528
      ],
      "id": "4e3a99b4-c130-424c-8b68-20fc7c2b64b1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6aa35452-e87b-432b-8f29-56df7dbd8492",
              "name": "text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        624
      ],
      "id": "6cc033f5-79f1-4fa4-847a-c12f6f47c975",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        768,
        320
      ],
      "id": "948b8ea7-aa54-492f-971d-0916c2a7b75e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Please summarize the video in 3 sentences.\"\n        },\n        {\n          \"file_data\": {\n            \"file_uri\": \"https://www.youtube.com/watch?v=WsTOxv8guNw\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        320
      ],
      "id": "d66b3cfa-1416-4ddf-bc47-915f1993dd5a",
      "name": "YouTube Video",
      "credentials": {
        "httpQueryAuth": {
          "id": "RZX4FpcD6VQcFsSa",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2103b25e-fbee-4d71-9224-280f1c2383da",
              "name": "text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        320
      ],
      "id": "09c82ed9-89e1-4728-b7e1-8e1a512c749d",
      "name": "Get Results"
    },
    {
      "parameters": {
        "content": "# YouTube Vision\n",
        "height": 260,
        "width": 800,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        240
      ],
      "id": "e9462476-807c-42ea-bbe0-15c6873ab8d0",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n*Author: [Nate Herk](https://www.youtube.com/@nateherk)*\n\n### ✅ Step 1: Get Your Free API Key  \nGo to [**Google**](https://ai.google.dev/) and sign up to get your **free API key**.\n\nCreate your query authorization credential using that API key in the **HTTP Request** nodes that require a Google credential.\n\n\n### 🎬 Step 2: Drop in a Video  \nYou’re basically all set! Now you can:\n- Upload a video using the **Form Trigger**, **OR**\n- Drop in a **YouTube URL** to have it analyzed.\n---\n\nThat’s it — your video analysis agent is ready to go.\n",
        "height": 800,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5d6f5ec4-8b45-4fe7-a1ee-874c1394e0a0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Command",
              "value": "start, upload, finalize"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $binary.Video.fileSize }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "={{ $binary.Video.fileType }}/{{ $binary.Video.fileExtension }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.Video.fileType }}/{{ $binary.Video.fileExtension }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "Video",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        64
      ],
      "id": "0756c21e-cf82-4457-a4b4-00edb33b7422",
      "name": "Upload File",
      "credentials": {
        "httpQueryAuth": {
          "id": "RZX4FpcD6VQcFsSa",
          "name": "Google Gemini"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-03T14:46:00.650Z",
      "updatedAt": "2025-08-03T14:46:00.650Z",
      "id": "7wfuZNHPxfbgubll",
      "name": "Costs $"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-03T14:46:04.576Z",
  "versionId": "8ddb4f6a-31ce-4279-9b37-0a3e459f16dc"
}