n8n-workflows/AUTOMATE GMAIL.json
{
  "active": false,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Label \"Cold Outreach\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"Marketing Email\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: \"Newsletter\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"Invoices & Receipts\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"Q&A\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"OTP\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"Security Alerts\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"Lawyer/Solicitor\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"Contract\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"Gumroad\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label \"Other\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label \"Gumroad\"": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log": {
      "main": [
        [
          {
            "node": "Performace KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T20:57:29.488Z",
  "id": "5IpKSE3YUMtfEIhQ",
  "isArchived": false,
  "meta": null,
  "name": "AUTOMATE GMAIL",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [
        -2020,
        1000
      ],
      "id": "b2bc327e-07c0-477d-ab71-97de468ed092",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_9142350633925543007"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2cee8586-efdf-4cb0-9f07-a3053f60c874",
      "name": "Label \"Cold Outreach\"",
      "webhookId": "0d673d8f-7610-4e15-b9b6-27cecdf5c9d6"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8989656469558220439"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        600
      ],
      "id": "25f049cc-6277-442b-a9b5-cdd67efb07cf",
      "name": "Label \"Invoices & Receipts\"",
      "webhookId": "c13d5a9a-dbf3-4edf-aa6b-e62a5e5f22f4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent email categorisation assistant.\n\nYour job is to **read the email content** and classify it into one of the following categories **based ONLY on the content and tone**:\n\nCategories:\n- Cold Outreach\n- Marketing Email\n- Newsletter\n- Invoices & Receipts\n- Q&A\n- OTP Confirmation Email\n- Security Alerts\n- Lawyer/Solicitor\n- Contract\n- Gumroad\n- Other\n\nOnly return the category name. No explanation. No extra text. Do not wrap the result in quotation marks or code blocks.\n\n---\n\n**Examples for reference:**\n\n1. **Cold Outreach**\nSubject: \"Let's talk about scaling your growth\"\nBody: \"Hi, I came across your website and wanted to introduce our service that helps businesses automate lead gen. Would you be open to a quick call?\"\n\n→ Response: `Cold Outreach`\n\n2. **Marketing Email**\nSubject: \"End of Financial Year Sale – Up to 50% Off\"\nBody: \"Don't miss our EOFY deals on premium tools. Sale ends soon!\"\n\n→ Response: `Marketing Email`\n\n3. **Newsletter**\nSubject: \"Weekly Digest - AI Trends and Tips\"\nBody: \"Welcome to your weekly dose of AI insights. In this issue, we cover the latest OpenAI updates and prompt-writing tips.\"\n\n→ Response: `Newsletter`\n\n4. **Invoices & Receipts**\nSubject: \"Invoice for March Subscription\"\nBody: \"Attached is your invoice for your Pro Plan subscription. Thank you for your business.\"\n\n→ Response: `Invoices & Receipts`\n\n5. **Q&A**\nSubject: \"Quick question about your services\"\nBody: \"Hi, just wondering if you support integrations with Notion and Slack?\"\n\n→ Response: `Q&A`\n\n6. **OTP Confirmation Email**\nSubject: \"Your one-time password (OTP) is 842913\"\nBody: \"Use this code to complete your login. Do not share this with anyone.\"\n\n→ Response: `OTP Confirmation Email`\n\n7. **Security Alerts**\nSubject: \"New login detected\"\nBody: \"We noticed a login from a new device. If this wasn’t you, please secure your account.\"\n\n→ Response: `Security Alerts`\n\n8. **Lawyer/Solicitor**\nSubject: \"Re: Legal Opinion - NDA Review\"\nBody: \"Please find attached the legal opinion prepared by our firm in relation to the Non-Disclosure Agreement.\"\n\n→ Response: `Lawyer/Solicitor`\n\n9. **Contract**\nSubject: \"Signed Contract for Review\"\nBody: \"Attached is the signed agreement between our companies. Please countersign and return.\"\n\n→ Response: `Contract`\n\n10. **Gumroad**\nSubject: \"You’ve made a sale on Gumroad!\"\nBody: \"Congratulations, you sold 1 copy of your product. Payment will be processed shortly.\"\n\n→ Response: `Gumroad`\n\n11. **Other**\nSubject: \"Re: Random Thoughts\"\nBody: \"Haha, yeah I totally agree with that meme you sent yesterday. So true!\"\n\n→ Response: `Other`\n\n---\n\nAgain, your response must be **exactly one of the category names above**, with no other explanation.\n",
              "role": "system"
            },
            {
              "content": "=email subject: {{ $json.headers.subject }}\n\nEmail body text: {{ $json.text }}\n\nEmail body html: {{ $json.textAsHtml }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1660,
        1000
      ],
      "id": "48b64099-a191-44d7-a1ac-220f592d273d",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Cold Outreach",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "62972f8d-42ee-46be-9568-85777b80f0b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cold Outreach"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87f73f2f-761a-4b6d-b21b-95fbebf2e70b",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Marketing Email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marketing Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "23e01c7d-9f03-4555-a7fa-1afeaaef99b1",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Newsletter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bff7958f-d380-442c-8ed2-6627d3456cb3",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Invoices & Receipts",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invoices & Receipts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81b9ac0e-2dcc-4814-b406-21a5b50ab662",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Q&A",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Q&A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4ccf3de-9f35-4b7e-85d5-6b3847b1dd43",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "OTP Confirmation Email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OTP Confirmation Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c45fc855-1696-4008-80cb-db41cff751de",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Security Alerts",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Security Alerts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3da5116-4117-4915-8c5f-680b90b21b2d",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Lawyer/Solicitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lawyer/Solicitor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d70b27d-0fc8-4c13-b531-2dcf1ff91dde",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Contract",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contract"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a808bc78-de99-4261-8a0e-2733207c4fd5",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Gumroad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gumroad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0b70b80-dc85-452a-b905-4d36f3c1de90",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "Other",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -760,
        820
      ],
      "id": "ce113bd7-4133-402e-a725-97da1487e4e5",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7249928902989265623"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        200
      ],
      "id": "6d67c9e3-5f8f-4406-a1f6-b266da338533",
      "name": "Label \"Marketing Email\"",
      "webhookId": "de484dd1-8e0e-47de-b49f-77e381684008"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7737133096574524861"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "id": "99839567-c619-46fe-adf4-4c18c05cdd03",
      "name": "Label: \"Newsletter\"",
      "webhookId": "dd7596dc-6d0a-4003-8bdd-9cb9a1513528"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2701676219602336965"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        2040
      ],
      "id": "998607c4-bfc6-4227-acdd-b5733de6cf3e",
      "name": "Label \"Other\"",
      "webhookId": "e58c8199-b817-44fa-9ff3-c437b09fcb69"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7569995762584421429"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1000
      ],
      "id": "1d243748-39f1-4d0a-9f3d-531a2143a004",
      "name": "Label \"OTP\"",
      "webhookId": "c13d5a9a-dbf3-4edf-aa6b-e62a5e5f22f4"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4018085914079431775"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        800
      ],
      "id": "4bc7de00-a475-480a-99da-dbbbeac9ae24",
      "name": "Label \"Q&A\"",
      "webhookId": "c13d5a9a-dbf3-4edf-aa6b-e62a5e5f22f4"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8983395545703932397"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1200
      ],
      "id": "10e2f9d8-be11-4cd5-afdf-140c50756695",
      "name": "Label \"Security Alerts\"",
      "webhookId": "c13d5a9a-dbf3-4edf-aa6b-e62a5e5f22f4"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5798020684560780416"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1400
      ],
      "id": "947ac14e-73b1-41e2-bd07-5be67ad99eb3",
      "name": "Label \"Lawyer/Solicitor\"",
      "webhookId": "c13d5a9a-dbf3-4edf-aa6b-e62a5e5f22f4"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4886810610978729189"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1600
      ],
      "id": "bd70dbc2-5f40-4655-9d59-d3f119d0aa6b",
      "name": "Label \"Contract\"",
      "webhookId": "c13d5a9a-dbf3-4edf-aa6b-e62a5e5f22f4"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2585495385214283079"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1800
      ],
      "id": "08770c5d-3012-4ebe-9b23-f67dd12b8ca8",
      "name": "Label \"Gumroad\"",
      "webhookId": "c13d5a9a-dbf3-4edf-aa6b-e62a5e5f22f4"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        300,
        1800
      ],
      "id": "577eeb14-6625-425a-ae6a-2d2a618b9813",
      "name": "Gmail",
      "webhookId": "e50b1984-3f55-4bfb-a429-2d47837164de"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd495dc4-42a0-4547-a109-c45685af3863",
              "name": "tiemstamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "42d61c59-7b76-4bcf-9cf6-83d8b2b9e278",
              "name": "subject",
              "value": "={{ $('Gmail Trigger').item.json.headers.subject }}",
              "type": "string"
            },
            {
              "id": "467dc44f-bf97-467d-92a2-23b80487a87c",
              "name": "from",
              "value": "={{ $('Gmail Trigger').item.json.headers.from }}",
              "type": "string"
            },
            {
              "id": "ad2e5b2c-677a-4f54-a27c-a6b9c6616099",
              "name": "category",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        1180
      ],
      "id": "8c36d6b7-459c-488d-b010-5b667058b325",
      "name": "Log"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pdv3qhq0rvdwntx",
        "table": "m9vrwhxaugyl42p",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -1100,
        1180
      ],
      "id": "2dea2978-313f-414b-a64e-be0f55e7a9cd",
      "name": "Performace KPI"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-16T20:57:29.488Z",
      "updatedAt": "2025-07-16T20:57:29.488Z",
      "role": "workflow:owner",
      "workflowId": "5IpKSE3YUMtfEIhQ",
      "projectId": "aYesZFcPjHzYQyLq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T20:57:29.488Z",
  "versionId": "6ec1c8ce-6d54-49fd-891c-af3d7204f438"
}