n8n-workflows/ERROR NOTIFIER.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Execute Bag Alert Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Messages For Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Messages For Notify": {
      "main": [
        [
          {
            "node": "Send Notify to Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notify to Whatsapp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notify to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notify to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notify to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T21:10:42.836Z",
  "id": "ErJsFIMzI5GAr6Io",
  "isArchived": false,
  "meta": null,
  "name": "ERROR NOTIFIER",
  "nodes": [
    {
      "parameters": {
        "content": "# ERROR NOTIFIER\n\n",
        "height": 80,
        "width": 660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        400
      ],
      "typeVersion": 1,
      "id": "8d3d0778-8b55-491d-87a9-9cadf740ba1d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        560,
        100
      ],
      "id": "752448eb-4206-45de-b453-5d36eda93be8",
      "disabled": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        560,
        520
      ],
      "id": "1b17b70f-0839-431f-8cfe-13348ca65f42",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "# How it works\nThis workflow automatically sends notifications when any other workflow fails.\n\nAlgorithm:\n- Create a workflow with \"**ERROR NOTIFIER**\".\n- Copy and paste \"**ERROR ALERTER**\" into your workflows and activate.\n- Add credentials using your preferred channel.\n\nPlease check out my other items on [gumroad](https://boanse.gumroad.com/?section=k_Sn6LcT_dzJFnp5jmsM5A%3D%3D)\nYou might also like something else☺️",
        "height": 300,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "94fbbb7a-082e-4e33-b55f-3b1f35ab0014",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "61Flju0VYVpEMHzD",
          "mode": "list",
          "cachedResultName": "Error_Notifier-v1-no_db"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        780,
        100
      ],
      "id": "2b02fd8d-ee88-4673-b7e8-0ddf425d2369",
      "name": "Execute Bag Alert Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Get data\nconst errorData = $input.first().json;\n\n\n// Get fallback\nconst execution = errorData.execution || {};\nconst workflow = errorData.workflow || {};\nconst error = execution.error || {};\n\n\nconst workflowName = workflow.name || 'Unknown';\n\nconst nodeName = execution?.lastNodeExecuted|| 'Unknown';\nconst errorMessage = error.message || '-';\nconst errorDescription = error?.context?.messageTemplate || 'No description';\nconst timestamp = error.timestamp ? new Date(error.timestamp).toLocaleString('ru-RU') : 'Unknown';\n\nconst executionUrl = execution.url || '#';\nconst executionId = execution.id || 'Unknown';\nconst errorLevel = error.level ? error.level.toUpperCase() : 'UNKNOWN';\n\n\nconst message = \n`🚨 <b>WORKFLOW ERROR (<a href=\"${executionUrl}\">${executionId}</a>)</b>\n\nWorkflow: <code>${workflowName}</code>\nNode: <code>${nodeName}</code>\n\n<b>${errorLevel}:</b>\n${errorMessage}\n${errorDescription}\n\n${timestamp}`;\n\n\nreturn {\n  json: {\n    message,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        520
      ],
      "id": "90722e70-919c-40d3-92f0-3bed5f9cb687",
      "name": "Prepare Messages For Notify"
    },
    {
      "parameters": {
        "content": "# ERROR ALERTER",
        "height": 80,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        0
      ],
      "typeVersion": 1,
      "id": "97c1dbe4-ed5c-46d9-a4c9-8b37130b4abf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Setup\n- ## Add Credentials:\n   - WhatsApp (OAuth & API)\n   - Telegram\n   - Gmail\n   - Discord\n   - Slack",
        "height": 240,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        400
      ],
      "typeVersion": 1,
      "id": "fe0b6b22-0dc1-44c5-8a76-a6f60f64431b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "@gmail.com",
        "subject": "Error Workflow",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        920
      ],
      "id": "89b391ad-2378-4dbd-afd2-e1c5fb3011d1",
      "name": "Send Notify to Gmail",
      "webhookId": "52f0cc71-1ad8-4f9a-b07c-bae9be1e217c",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "+12345678901",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1000,
        720
      ],
      "id": "79439eec-fd64-4883-93fe-b40a1d15eb58",
      "name": "Send Notify to Whatsapp",
      "webhookId": "fde1b1fc-48dc-4d7b-b48a-c42b36225a43",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "=7439997846",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Send Notify to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1000,
        520
      ],
      "id": "cca20088-b946-417b-af9c-1ed4f6076039",
      "webhookId": "13c616bf-a3ad-4035-998a-1dfe6021b89f",
      "credentials": {
        "telegramApi": {
          "id": "HHgbp1SZSR5uC5wr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1000,
        1120
      ],
      "id": "1af6591a-4c33-4dcf-9038-48a050f871b2",
      "name": "Send Notify to Discord",
      "webhookId": "ea0cb122-61d1-4457-9447-34daa40dccdc",
      "disabled": true
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1000,
        1320
      ],
      "id": "4c8cd9bb-a7f7-45d2-a91a-695aa5aa69cb",
      "name": "Send Notify to Slack",
      "webhookId": "d2b8ce70-e478-4f05-9add-37d859f73dd8",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T21:15:08.296Z",
  "versionId": "f5a5af21-f69c-4f7a-a7a6-1c4868623818"
}