n8n-workflows/FACEBOOK POSTING AGENT.json
{
  "active": false,
  "connections": {
    "Wait for Retry1": {
      "main": [
        [
          {
            "node": "CHECK VIDEO STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NOT PUBLISHED?1": {
      "main": [
        [
          {
            "node": "Wait for Retry1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NOT PUBLISHED?": {
      "main": [
        [
          {
            "node": "Wait for Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CHECK VIDEO STATUS": {
      "main": [
        [
          {
            "node": "NOT PUBLISHED?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK REEL STATUS": {
      "main": [
        [
          {
            "node": "NOT PUBLISHED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Video Upload": {
      "main": [
        [
          {
            "node": "Wait for Video Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Reel Upload": {
      "main": [
        [
          {
            "node": "Upload to Rupload (Reel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Upload": {
      "main": [
        [
          {
            "node": "CHECK VIDEO STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Reel Upload": {
      "main": [
        [
          {
            "node": "CHECK REEL STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Reel to FB": {
      "main": [
        [
          {
            "node": "Wait for Reel Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Rupload (Reel)": {
      "main": [
        [
          {
            "node": "Upload Reel to FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Retry": {
      "main": [
        [
          {
            "node": "CHECK REEL STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Direct Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "UPDATE FB COLUMN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Video is less than 90 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Direct Link": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video is less than 90 seconds": {
      "main": [
        [
          {
            "node": "Initialize Reel Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Initialize Video Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE FB COLUMN1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-06T16:14:24.693Z",
  "id": "1YS6G09G1SR5fFlF",
  "isArchived": false,
  "meta": null,
  "name": "FACEBOOK POSTING AGENT",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        464
      ],
      "id": "17a8aa43-7ca7-4f19-9794-64533168d942",
      "name": "Merge1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        208
      ],
      "id": "89c35ba8-349b-4202-bab3-f1851c153196",
      "name": "Wait for Retry1",
      "webhookId": "06f6a4e3-c628-4ffa-a9ba-143d377ade5a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b1dd1de5-c28d-4ab9-bd3d-d5df69dcd934",
              "leftValue": "={{ $json.status.publishing_phase ? $json.status.publishing_phase.publish_status : $json.status }}",
              "rightValue": "published",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "40349e29-cb6e-47d6-ad36-058b0086c3d9",
              "leftValue": "={{ $json.status.publishing_phase ? $json.status.publishing_phase.publish_status : $json.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c1dd3de5-c28d-4ab9-bd3d-d5df69dcd935",
              "leftValue": "={{ $json.status.publishing_phase ? $json.status.publishing_phase.publish_status : $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        224
      ],
      "id": "dcfa1504-6461-466f-a74d-37e71864a2e7",
      "name": "NOT PUBLISHED?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b1dd1de5-c28d-4ab9-bd3d-d5df69dcd934",
              "leftValue": "={{ $json.status.publishing_phase ? $json.status.publishing_phase.publish_status : $json.status }}",
              "rightValue": "published",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "40349e29-cb6e-47d6-ad36-058b0086c3d9",
              "leftValue": "={{ $json.status.publishing_phase ? $json.status.publishing_phase.publish_status : $json.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c1dd3de5-c28d-4ab9-bd3d-d5df69dcd935",
              "leftValue": "={{ $json.status.publishing_phase ? $json.status.publishing_phase.publish_status : $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        464
      ],
      "id": "43aba0eb-8944-41bf-8269-56b9f8a19180",
      "name": "NOT PUBLISHED?"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $('Initialize Video Upload').first().json.id }}",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "status"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        720,
        224
      ],
      "id": "28673136-ff06-4349-a4c6-df38d3dc334b",
      "name": "CHECK VIDEO STATUS",
      "credentials": {
        "facebookGraphApi": {
          "id": "7LqmSLXmdFIqY9ah",
          "name": "FB - Shocked History"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $('Initialize Reel Upload').first().json.video_id }}",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "status"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        368,
        464
      ],
      "id": "99f7f884-26aa-4bfd-a25a-deb91e1131af",
      "name": "CHECK REEL STATUS",
      "credentials": {
        "facebookGraphApi": {
          "id": "7LqmSLXmdFIqY9ah",
          "name": "FB - Shocked History"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "689331224264136",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "file_url",
                "value": "={{ $('Start').item.json.github_url }}"
              },
              {
                "name": "description",
                "value": "={{ $('Start').item.json.output.facebook.description }}"
              },
              {
                "name": "published",
                "value": "true"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        384,
        224
      ],
      "id": "9491e6b9-45ee-43fa-8cbf-f934884f8425",
      "name": "Initialize Video Upload",
      "credentials": {
        "facebookGraphApi": {
          "id": "7LqmSLXmdFIqY9ah",
          "name": "FB - Shocked History"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "689331224264136",
        "edge": "video_reels",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "upload_phase",
                "value": "start"
              },
              {
                "name": "description",
                "value": "={{ $('Start').item.json.output.facebook.description }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        384,
        32
      ],
      "id": "1bab68a9-2b21-4e63-b477-543202a070af",
      "name": "Initialize Reel Upload",
      "credentials": {
        "facebookGraphApi": {
          "id": "7LqmSLXmdFIqY9ah",
          "name": "FB - Shocked History"
        }
      }
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        224
      ],
      "id": "6adae877-9bd6-4aba-8366-56fdbc46d729",
      "name": "Wait for Video Upload",
      "webhookId": "06f6a4e3-c628-4ffa-a9ba-143d377ade5a"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        32
      ],
      "id": "db15820b-2aa2-4d5f-9e75-efc8001fa476",
      "name": "Wait for Reel Upload",
      "webhookId": "06f6a4e3-c628-4ffa-a9ba-143d377ade5a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/689331224264136/video_reels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Initialize Reel Upload').first().json.video_id }}"
            },
            {
              "name": "upload_phase",
              "value": "FINISH"
            },
            {
              "name": "video_state",
              "value": "PUBLISHED"
            },
            {
              "name": "description",
              "value": "={{ $('Start').item.json.output_facebook_description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        32
      ],
      "id": "a88d9bc4-a439-4b60-89b3-638a2a3b0226",
      "name": "Upload Reel to FB",
      "credentials": {
        "facebookGraphApi": {
          "id": "7LqmSLXmdFIqY9ah",
          "name": "FB - Shocked History"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Start').item.json.github_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        32
      ],
      "id": "a67e47db-e41b-461e-9183-65f20343bf59",
      "name": "Upload to Rupload (Reel)",
      "credentials": {
        "facebookGraphApi": {
          "id": "7LqmSLXmdFIqY9ah",
          "name": "FB - Shocked History"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        656
      ],
      "id": "79403c49-1c9a-43c1-9ce5-5922b9b3f8ac",
      "name": "Wait for Retry",
      "webhookId": "06f6a4e3-c628-4ffa-a9ba-143d377ade5a"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "_firstItem",
              "type": "any"
            },
            {
              "name": "output_facebook_description_firstItem",
              "type": "any"
            },
            {
              "name": "github_url",
              "type": "any"
            }
          ]
        }
      },
      "id": "3dfa086b-ce5c-456d-8bbd-c769e7c86306",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1168,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XuWiYtYX75JWhs4loyb1yFDNuIJic7_bAU3gcT8tOgY",
          "mode": "list",
          "cachedResultName": "VIDEO IDEAS - MAKE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XuWiYtYX75JWhs4loyb1yFDNuIJic7_bAU3gcT8tOgY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TO DO - TOPICS FOR MAKE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XuWiYtYX75JWhs4loyb1yFDNuIJic7_bAU3gcT8tOgY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TITLE": "={{ $input.first().json._firstItem }}",
            "FB": "SENT",
            "row_number": 0
          },
          "matchingColumns": [
            "TITLE"
          ],
          "schema": [
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creation Status",
              "displayName": "Creation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATE CREATED",
              "displayName": "DATE CREATED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "POSTING STATUS",
              "displayName": "POSTING STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GITHUB URL",
              "displayName": "GITHUB URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SCRIPT",
              "displayName": "SCRIPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BACKGROUND MUSIC URL",
              "displayName": "BACKGROUND MUSIC URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BACKGROUND MUSIC CREDITS",
              "displayName": "BACKGROUND MUSIC CREDITS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GITHUB RELEASE ID",
              "displayName": "GITHUB RELEASE ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTA",
              "displayName": "INSTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CLEANED FROM GITHUB?",
              "displayName": "CLEANED FROM GITHUB?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1184,
        448
      ],
      "id": "3ea20ade-2e5c-46be-9b0e-576d3630c19d",
      "name": "UPDATE FB COLUMN1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get Direct Link').item.json.headers.location }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        144
      ],
      "id": "bf4f50fd-37c8-477d-9b0c-46ca6f1a65ec",
      "name": "Download File"
    },
    {
      "parameters": {
        "url": "={{ $json.github_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/octet-stream"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        160
      ],
      "id": "93d236e9-7235-499b-a144-1c2f8be24f44",
      "name": "Get Direct Link",
      "credentials": {
        "githubOAuth2Api": {
          "id": "SkPviyNYURtVqRGy",
          "name": "GitHub OAUTH APP"
        }
      }
    },
    {
      "parameters": {
        "command": "=ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 -i \"{{ $json.headers.location }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -768,
        160
      ],
      "id": "dc83f180-193b-40d9-949b-da965a668ad8",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "887088e4-e794-4f46-b247-fde7d3ddf466",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": 90,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        144
      ],
      "id": "74cfdc3e-609a-4cb6-9f3b-ebed76ff46e5",
      "name": "Video is less than 90 seconds"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8fc1983-8be7-4c16-85c9-43cf2fe54ef2",
              "name": "YOUTUBE",
              "value": "={{ $('UPDATE FB COLUMN').item.json.YOUTUBE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        448
      ],
      "id": "33c5e336-cfda-471e-aaba-0b2aa879c1f8",
      "name": "Return"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "TITLE": "The Children of God",
          "github_url": "https://api.github.com/repos/Uke13/symmetrical-eureka-SH/releases/assets/286460953",
          "output": {
            "facebook": {
              "description": "Get ready to have your mind blown by the haunting story of the Children of God. A group of individuals with a dark and mysterious past, their story will leave you speechless. React and share your thoughts in the comments. Follow for more forbidden histories #ShockedHistory #Mystery #History #Secrets #Forbidden CREDIT: Music: WRATH by Soundridemusic"
            }
          }
        }
      }
    ],
    "Initialize Video Upload": [
      {
        "json": {
          "id": "606330229077349"
        }
      }
    ],
    "Get Direct Link": [
      {
        "json": {
          "headers": {
            "date": "Sat, 06 Sep 2025 18:25:53 GMT",
            "content-type": "text/html;charset=utf-8",
            "content-length": "0",
            "location": "https://release-assets.githubusercontent.com/github-production-release-asset/1038753429/a71114a5-9fc2-4856-90a4-adb3fe976ea8?sp=r&sv=2018-11-09&sr=b&spr=https&se=2025-09-06T19%3A26%3A20Z&rscd=attachment%3B+filename%3Dvideo.mp4&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2025-09-06T18%3A25%3A53Z&ske=2025-09-06T19%3A26%3A20Z&sks=b&skv=2018-11-09&sig=unrx8H0SyR9W6JdOl5lpuHsAfIHPfjQapaXm1t8jo%2BA%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc1NzE4MzQ1MywibmJmIjoxNzU3MTgzMTUzLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.VqgGp3adTPoCPUifZjqWkvgNCk8c8-nXGNVMJzVmKJ4&response-content-disposition=attachment%3B%20filename%3Dvideo.mp4&response-content-type=application%2Foctet-stream",
            "x-github-api-version-selected": "2022-11-28",
            "x-ratelimit-limit": "5000",
            "x-ratelimit-remaining": "4991",
            "x-ratelimit-reset": "1757184565",
            "x-ratelimit-used": "9",
            "x-ratelimit-resource": "core",
            "access-control-expose-headers": "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation, Sunset",
            "access-control-allow-origin": "*",
            "strict-transport-security": "max-age=31536000; includeSubdomains; preload",
            "x-frame-options": "deny",
            "x-content-type-options": "nosniff",
            "x-xss-protection": "0",
            "referrer-policy": "origin-when-cross-origin, strict-origin-when-cross-origin",
            "content-security-policy": "default-src 'none'",
            "vary": "Accept-Encoding, Accept, X-Requested-With",
            "x-github-request-id": "DE32:3905B8:290389F:953C803:68BC7CB1",
            "server": "github.com",
            "connection": "close"
          },
          "statusCode": 302,
          "statusMessage": "Found"
        }
      }
    ],
    "Execute Command": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": "126.208000"
        }
      }
    ],
    "Download File": [
      {
        "json": {
          "__isTrimmedManualExecutionDataItem": true
        }
      }
    ],
    "Video is less than 90 seconds": [
      {
        "json": {
          "__isTrimmedManualExecutionDataItem": true
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-07T13:15:04.177Z",
  "versionId": "a1187db7-a160-4777-bc7c-25de548b3b99"
}