n8n-workflows/FREE FLUX IMAGES - MOTVATION.json
{
  "active": false,
  "connections": {
    "Generate Images Flux Free": {
      "main": [
        [
          {
            "node": "Wait 15 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        []
      ]
    },
    "Facebook": {
      "main": [
        [
          {
            "node": "IS POSTED?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Container ID": {
      "main": [
        [
          {
            "node": "Wait 30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Parse Video Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video Titles": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Fallout-style prompt generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Fallout-style prompt generator": {
      "main": [
        [
          {
            "node": "Generate Images Flux Free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 sec": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30": {
      "main": [
        [
          {
            "node": "Publish to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Instagram": {
      "main": [
        [
          {
            "node": "IS POSTED?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IS POSTED?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IS POSTED?1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-16T18:30:18.522Z",
  "id": "tBaMB9lYv4OyBl3N",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "FREE FLUX IMAGES - MOTVATION",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"black-forest-labs/FLUX.1-schnell-Free\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"width\": 720,\n  \"height\": 1280,\n  \"steps\": 4,\n  \"seed\": 1,\n  \"response_format\": \"url\",\n  \"output_format\": \"jpeg\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -48
      ],
      "id": "047723f2-eae5-4e55-9e61-bd7d4efeafb8",
      "name": "Generate Images Flux Free",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JdfDCxKTwaEVNBKO",
          "name": "TOGETHER_API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -48
      ],
      "id": "2eb04414-c3c8-42f8-9dd5-b4670186e872",
      "name": "Download Image"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "689331224264136",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "=data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $('AI Agent').item.json.output.socialCaption }} Check out the video on #ShockedHistory "
              },
              {
                "name": "url",
                "value": "={{ $('Generate Images Flux Free').item.json.data[0].url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1472,
        -144
      ],
      "id": "56a81743-ca52-4e56-9551-32080d101877",
      "name": "Facebook",
      "credentials": {
        "facebookGraphApi": {
          "id": "7LqmSLXmdFIqY9ah",
          "name": "SHOCKED HISTORY Facebook"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841475038413037",
        "edge": "media",
        "sendBinaryData": true,
        "binaryPropertyName": "=data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $('AI Agent').item.json.output.socialCaption }}  Check out the video on #ShockedHistory"
              },
              {
                "name": "media_type",
                "value": "IMAGE"
              },
              {
                "name": "image_url",
                "value": "={{ $('Generate Images Flux Free').item.json.data[0].url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1248,
        48
      ],
      "id": "a1ca9009-7f12-43ca-a5b1-3441ecb47a00",
      "name": "Instagram Container ID",
      "credentials": {
        "facebookGraphApi": {
          "id": "ZT7Powit0HHCB9Hh",
          "name": "Instagram Shocked History"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841475038413037",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "#ShockedHistory"
              },
              {
                "name": "image_url",
                "value": "={{ $('Generate Images Flux Free').item.json.data[0].url }}"
              },
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1696,
        48
      ],
      "id": "50ec1cbb-792a-4543-9d0b-1b0c8bfd7bf9",
      "name": "Publish to Instagram",
      "credentials": {
        "facebookGraphApi": {
          "id": "ZT7Powit0HHCB9Hh",
          "name": "Instagram Shocked History"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        -48
      ],
      "id": "2a31d830-0b69-45a1-b232-5a03c70d8d9a",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XxHCK1eKmlbkB8G1fykneIQL6S15w-t6V0JKhOP_4Dc",
          "mode": "list",
          "cachedResultName": "INNER UPGRADE PHOTO TOPICS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XxHCK1eKmlbkB8G1fykneIQL6S15w-t6V0JKhOP_4Dc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XxHCK1eKmlbkB8G1fykneIQL6S15w-t6V0JKhOP_4Dc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -496,
        -48
      ],
      "id": "a19ed360-978b-430b-9815-8e05907d3c09",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items (each item is a row)\nconst inputItems = $input.all();\n\nif (!inputItems || inputItems.length === 0) {\n  return [{ json: { error: 'No rows returned from Google Sheets' } }];\n}\n\nconst availableTitles = [];\n\n// Each input item is a row object\nfor (let i = 0; i < inputItems.length; i++) {\n  const rowData = inputItems[i].json;\n  \n  const title = rowData.TITLE;\n  const photoPosted = rowData['PHOTO POSTED'];\n  \n  // Skip if no title or if it's a header\n  if (!title || title.toLowerCase() === 'title') continue;\n  \n  // Check if PHOTO POSTED is empty\n  if (title.trim().length > 0 && (!photoPosted || photoPosted.toString().trim() === '')) {\n    availableTitles.push({\n      title: title.trim(),\n      rowNumber: rowData.row_number,\n      date: rowData.DATE,\n      description: rowData.DESC\n    });\n  }\n}\n\nif (availableTitles.length === 0) {\n  return [{ json: { \n    error: 'No available titles found',\n    totalRows: inputItems.length,\n    sampleRow: inputItems[0].json\n  }}];\n}\n\n// Random selection\nconst randomIndex = Math.floor(Math.random() * availableTitles.length);\nconst randomSelection = availableTitles[randomIndex];\n\nconsole.log(`Selected \"${randomSelection.title}\" (${randomIndex + 1} of ${availableTitles.length} available)`);\n\nreturn [{\n  json: {\n    selectedTitle: randomSelection.title,\n    rowNumber: randomSelection.rowNumber,\n    availableCount: availableTitles.length,\n    selectedDate: randomSelection.date\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -48
      ],
      "id": "7a79da4a-f407-4c7a-bada-9498bdd9711f",
      "name": "Parse Video Titles"
    },
    {
      "parameters": {
        "jsCode": "// Get the agent's response\nconst inputData = $input.all()[0].json;\nconst agentData = inputData.output || inputData;\nconst originalTheme = agentData.originalTheme;\nconst context = agentData.context;\n\nif (!originalTheme || !context) {\n  return [{\n    json: {\n      error: 'Missing theme or context from agent',\n      receivedData: agentData\n    }\n  }];\n}\n\n// Technical/style enhancements - gritty garage gym aesthetic\nconst technicalDetails = [\n  'highly detailed desaturated gritty garage gym photography',\n  'photorealistic industrial garage gym with harsh lighting',\n  'cinematic raw garage gym aesthetic with film grain',\n  'weathered concrete gym atmosphere with moody shadows',\n  'vintage desaturated gym style with heavy contrast and dust particles'\n];\n\n// Pick a random technical style\nconst selectedTechnical = technicalDetails[Math.floor(Math.random() * technicalDetails.length)];\n\n// Add technical enhancement to the agent's context\nconst finalPrompt = `${context}, ${selectedTechnical}, cinematic composition`;\n\nconsole.log(`Using agent's context with garage gym technical enhancement for \"${originalTheme}\"`);\n\nreturn [{\n  json: {\n    prompt: finalPrompt,\n    motivationalTheme: originalTheme,\n    context: context,\n    technicalStyle: selectedTechnical,\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -48
      ],
      "id": "d7c3a2c9-5d35-47d2-9c22-2e0b764586c1",
      "name": "Fallout-style prompt generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this motivational theme or topic: \"{{ $json.selectedTitle }}\", provide:\n1. A brief 2-3 sentence visual description focusing on a gritty, desaturated garage gym aesthetic with weathered equipment, concrete floors, dim lighting, and raw industrial elements (this is for image generation only)\n2. A catchy social media title (50 characters or less) about the motivational theme\n3. An Instagram caption that's motivational and inspiring with relevant fitness/motivation hashtags\n\nReturn your response in this exact JSON format:\n{\n  \"originalTheme\": \"{{ $json.selectedTitle }}\",\n  \"context\": \"Your 2-3 sentence gritty garage gym visual description for image generation\",\n  \"socialTitle\": \"Catchy title about the motivational theme\",\n  \"socialCaption\": \"Inspiring caption with emojis and fitness/motivation hashtags\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -48,
        -48
      ],
      "id": "def7b9a3-024d-47e4-9257-2e2c6cda34ed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -16,
        176
      ],
      "id": "f6d3e49d-c636-4c79-b9c6-6e38cc0f0224",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Z0qdSGsCKeFZM9R5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"originalTheme\": \"{{ $json.selectedTitle }}\",\n  \"context\": \"Your 2-3 sentence gritty garage gym visual description for image generation\",\n  \"socialTitle\": \"Catchy title about the motivational theme\",\n  \"socialCaption\": \"Inspiring caption with emojis and fitness/motivation hashtags\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        112,
        176
      ],
      "id": "cbdc6838-730f-4e86-a034-bf58ae70ae7b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        -48
      ],
      "id": "6507310d-397c-4b96-b07f-0b38c89ec90f",
      "name": "Wait 15 sec",
      "webhookId": "d4acf82f-69de-4e7e-9164-c5b35894c948"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1472,
        48
      ],
      "id": "b476e71b-8349-4d5d-ad14-945b857c0044",
      "name": "Wait 30",
      "webhookId": "c76f4b66-534f-4993-a082-7a63ebebeb42"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $json.post_id }}",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "is_published,scheduled_publish_time,permalink_url"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1696,
        -144
      ],
      "id": "9ee025d8-301b-4d29-b446-774d714c06e6",
      "name": "IS POSTED?",
      "credentials": {
        "facebookGraphApi": {
          "id": "7LqmSLXmdFIqY9ah",
          "name": "SHOCKED HISTORY Facebook"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $json.id }}",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "permalink,id,timestamp"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1904,
        48
      ],
      "id": "5c9d3681-eca7-472a-90fa-e07352789b26",
      "name": "IS POSTED?1",
      "credentials": {
        "facebookGraphApi": {
          "id": "ZT7Powit0HHCB9Hh",
          "name": "Instagram Shocked History"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This code reads the simple list of items from the Merge node and finds\n// the Facebook and Instagram data within it.\n\nlet fbData = null;\nlet igData = null;\n\n// 1. Loop through the list of items to identify and store the data for each platform.\nfor (const item of items) {\n  const data = item.json;\n\n  // Identify Facebook data by its unique keys: 'is_published' and 'permalink_url'.\n  if (data.is_published !== undefined && data.permalink_url) {\n    fbData = data;\n  }\n  // Identify Instagram data by its unique keys: 'permalink' and 'timestamp'.\n  else if (data.permalink && data.timestamp) {\n    igData = data;\n  }\n}\n\n// 2. After checking all items, perform the final check to see if both were found and successful.\nif (fbData && fbData.is_published === true && igData && igData.permalink) {\n  // If yes, return the single success message.\n  return [{\n    json: {\n      status: \"All posts succeeded! 🎉\",\n      facebook_url: fbData.permalink_url,\n      instagram_url: igData.permalink\n    }\n  }];\n} else {\n  // If not, return a debug message showing exactly what was found.\n  return [{\n    json: {\n      status: \"Condition check failed. ❌\",\n      debug_info: {\n        facebook_data_found: fbData || \"Facebook data not found in the list.\",\n        instagram_data_found: igData || \"Instagram data not found in the list.\"\n      }\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -64
      ],
      "id": "4a2a36d2-4e88-4bfb-8851-26d7c6ff95e9",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        -64
      ],
      "id": "69a471ad-79ad-4506-8518-18d0e3df6d3d",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uxOHb33pGIhAtbwjIjtTevhAZ6dWNg3el0VwJ8xInbc",
          "mode": "list",
          "cachedResultName": "SHOCKED HISTORY POST TO TIKTOK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uxOHb33pGIhAtbwjIjtTevhAZ6dWNg3el0VwJ8xInbc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uxOHb33pGIhAtbwjIjtTevhAZ6dWNg3el0VwJ8xInbc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PHOTO POSTED": "YES",
            "TITLE": "=",
            "row_number": "={{ $('Parse Video Titles').first().json.rowNumber }}\n\n"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESC",
              "displayName": "DESC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PHOTO POSTED",
              "displayName": "PHOTO POSTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2624,
        -64
      ],
      "id": "114848f2-c57e-424f-93c0-100c1f11bf20",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        176
      ],
      "id": "6b48c852-ca7e-47b3-9864-f39559335f8b",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {
    "Fallout-style prompt generator": [
      {
        "json": {
          "prompt": "A dimly lit garage gym with weathered dumbbells, rusted kettlebells, and a concrete floor stained with sweat. Overhead, a single flickering bulb casts shadows on peeling paint and exposed brick walls, embodying raw, unfiltered effort., weathered concrete gym atmosphere with moody shadows, cinematic composition",
          "motivationalTheme": "Stop consuming. Start creating.",
          "context": "A dimly lit garage gym with weathered dumbbells, rusted kettlebells, and a concrete floor stained with sweat. Overhead, a single flickering bulb casts shadows on peeling paint and exposed brick walls, embodying raw, unfiltered effort.",
          "technicalStyle": "weathered concrete gym atmosphere with moody shadows",
          "generatedAt": "2025-08-16T18:45:56.463Z"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "originalTheme": "Stop consuming. Start creating.",
            "context": "A dimly lit garage gym with weathered dumbbells, rusted kettlebells, and a concrete floor stained with sweat. Overhead, a single flickering bulb casts shadows on peeling paint and exposed brick walls, embodying raw, unfiltered effort.",
            "socialTitle": "Build More Than Muscle",
            "socialCaption": "🚀 Stop scrolling. Start lifting. Create the best version of yourself today. 💪 #FitnessMotivation #NoExcuses #GrindMode #CreateYourself"
          }
        }
      }
    ],
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "TITLE": "Stop talking about it. Be about it.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 3,
          "TITLE": "Your excuses are boring.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 4,
          "TITLE": "Nobody cares about your plan. Show them your results.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 5,
          "TITLE": "The world rewards doers, not dreamers.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 6,
          "TITLE": "\"Someday\" is not a day of the week.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 7,
          "TITLE": "You can have results or excuses. Not both.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 8,
          "TITLE": "Action cures fear.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 9,
          "TITLE": "Stop waiting for permission.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 10,
          "TITLE": "The best time was yesterday. The next best time is NOW.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 11,
          "TITLE": "Execute.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 12,
          "TITLE": "A goal without a deadline is just a wish.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 13,
          "TITLE": "You are what you do, not what you say you'll do.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 14,
          "TITLE": "Stop consuming. Start creating.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 15,
          "TITLE": "Ideas are worthless. Execution is everything.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 16,
          "TITLE": "Less talk, more reps.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 17,
          "TITLE": "While they're sleeping, you're working.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 18,
          "TITLE": "Discipline is the bridge between goals and reality.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 19,
          "TITLE": "Motivation is a feeling. Discipline is a choice.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 20,
          "TITLE": "Embrace the suck.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 21,
          "TITLE": "Be obsessed or be average.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 22,
          "TITLE": "Sweat is the currency of success.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 23,
          "TITLE": "Do the hard things. Especially when you don't want to.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 24,
          "TITLE": "You don't get what you wish for. You get what you work for.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 25,
          "TITLE": "The pain of discipline weighs ounces. The pain of regret weighs tons.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 26,
          "TITLE": "Outwork your self-doubt.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 27,
          "TITLE": "Be so good they can't ignore you.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 28,
          "TITLE": "Don't count the days. Make the days count.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 29,
          "TITLE": "The grind doesn't care about your feelings.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 30,
          "TITLE": "Love the process of becoming a monster.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 31,
          "TITLE": "Champions are built when no one is watching.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 32,
          "TITLE": "You are your only limit.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 33,
          "TITLE": "Bet on yourself. Always.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 34,
          "TITLE": "Your mindset is your most valuable asset. Protect it.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 35,
          "TITLE": "If you don't believe in yourself, who will?",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 36,
          "TITLE": "Change your standards and you'll change your life.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 37,
          "TITLE": "The person you want to be is on the other side of your comfort zone.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 38,
          "TITLE": "You are not a victim of your circumstances. You are a product of your decisions.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 39,
          "TITLE": "Think like a predator, not prey.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 40,
          "TITLE": "Your future is built on your daily habits.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 41,
          "TITLE": "Believe you deserve it, then go work for it.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 42,
          "TITLE": "Confidence isn't \"they will like me.\" Confidence is \"I'll be fine if they don't.\"",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 43,
          "TITLE": "Stop thinking small.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 44,
          "TITLE": "Your income will not far exceed your personal development.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 45,
          "TITLE": "What you tolerate, you accept.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 46,
          "TITLE": "It's you vs. you.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 47,
          "TITLE": "Let your success be the noise.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 48,
          "TITLE": "Prove them wrong.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 49,
          "TITLE": "The obstacle is the way.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 50,
          "TITLE": "Get knocked down. Get back up. Repeat.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 51,
          "TITLE": "Scars are just tattoos with better stories.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 52,
          "TITLE": "The opinion of a sheep doesn't concern a lion.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 53,
          "TITLE": "They want to see you do good, but never better than them.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 54,
          "TITLE": "Never complain. Never explain.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 55,
          "TITLE": "The comeback is always stronger than the setback.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 56,
          "TITLE": "Pressure builds diamonds.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 57,
          "TITLE": "A smooth sea never made a skilled sailor.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 58,
          "TITLE": "If you're not being criticized, you're not doing much.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 59,
          "TITLE": "Failure is just data. Learn from it and move on.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 60,
          "TITLE": "Thank your haters. They're your biggest unpaid fans.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 61,
          "TITLE": "Pain is temporary. Quitting is forever.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 62,
          "TITLE": "You're not getting younger.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 63,
          "TITLE": "You have the same 24 hours as Beyoncé. Use them.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 64,
          "TITLE": "The clock is ticking. Make it count.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 65,
          "TITLE": "Don't kill time. Use it.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 66,
          "TITLE": "One day or day one. You decide.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 67,
          "TITLE": "Your future self is watching you right now. Don't let them down.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 68,
          "TITLE": "How you spend your weekends decides your future.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 69,
          "TITLE": "A year from now, you'll wish you started today.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 70,
          "TITLE": "Stop wasting time on things that don't matter.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 71,
          "TITLE": "This is your life, and it's ending one minute at a time.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 72,
          "TITLE": "Don't be busy. Be productive.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 73,
          "TITLE": "Today's actions are tomorrow's results.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 74,
          "TITLE": "You are running out of time. Act accordingly.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 75,
          "TITLE": "Every second is a chance to turn it all around.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 76,
          "TITLE": "The cost of inaction is always greater than the cost of a mistake.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 77,
          "TITLE": "No Excuses.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 78,
          "TITLE": "Dominate.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 79,
          "TITLE": "Stay Hungry.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 80,
          "TITLE": "Unstoppable.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 81,
          "TITLE": "Earned, Not Given.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 82,
          "TITLE": "All In.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 83,
          "TITLE": "Relentless.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 84,
          "TITLE": "Make It Happen.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 85,
          "TITLE": "Do The Work.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 86,
          "TITLE": "Rise Above.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 87,
          "TITLE": "Never Settle.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 88,
          "TITLE": "Own It.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 89,
          "TITLE": "Nobody Cares. Work Harder.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 90,
          "TITLE": "Results, Not Reasons.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 91,
          "TITLE": "Consistency is Key.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 92,
          "TITLE": "Keep Going.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 93,
          "TITLE": "Demand More.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 94,
          "TITLE": "Level Up.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 95,
          "TITLE": "No Shortcuts.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 96,
          "TITLE": "Attack the Day.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 97,
          "TITLE": "Vision. Hustle. Reality.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 98,
          "TITLE": "Less Ego. More Action.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 99,
          "TITLE": "Winners Win.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 100,
          "TITLE": "Be Undeniable.",
          "PHOTO POSTED": ""
        }
      },
      {
        "json": {
          "row_number": 101,
          "TITLE": "It's On You.",
          "PHOTO POSTED": ""
        }
      }
    ],
    "Parse Video Titles": [
      {
        "json": {
          "selectedTitle": "Stop consuming. Start creating.",
          "rowNumber": 14,
          "availableCount": 100
        }
      }
    ],
    "Generate Images Flux Free": [
      {
        "json": {
          "id": "o7R3aA3-2kFHot-97031ad7491fe9b9-PDX",
          "model": "black-forest-labs/FLUX.1-schnell-Free",
          "object": "list",
          "data": [
            {
              "index": 0,
              "url": "https://api.together.ai/shrt/RZ6HENs0PNqe9s1A",
              "timings": {
                "inference": 1.1414233359973878
              }
            }
          ]
        }
      }
    ],
    "Download Image": [
      {
        "json": {
          "headers": {
            "date": "Sat, 16 Aug 2025 18:48:56 GMT",
            "content-type": "image/jpeg",
            "content-length": "94157",
            "connection": "close",
            "cf-ray": "97031bd81cb66780-DFW",
            "alt-svc": "h3=\":443\"; ma=86400",
            "cache-control": "max-age=31536000, public",
            "cf-cache-status": "DYNAMIC",
            "x-request-id": "7aFcKffl5OlRO-27-Qzoo",
            "content-disposition": "inline; filename=\"89787a7ffd7f5c37bf979afe795e01e3bea50616185e53136dbeed1cfb3f7010.jpg\"",
            "content-security-policy": "script-src 'none'",
            "expires": "Sun, 16 Aug 2026 18:48:56 GMT",
            "strict-transport-security": "max-age=2592000; includeSubDomains",
            "x-content-type-options": "nosniff",
            "server": "cloudflare"
          },
          "statusCode": 200,
          "statusMessage": "OK"
        }
      }
    ],
    "Wait 15 sec": [
      {
        "json": {
          "id": "o7R3aA3-2kFHot-97031ad7491fe9b9-PDX",
          "model": "black-forest-labs/FLUX.1-schnell-Free",
          "object": "list",
          "data": [
            {
              "index": 0,
              "url": "https://api.together.ai/shrt/RZ6HENs0PNqe9s1A",
              "timings": {
                "inference": 1.1414233359973878
              }
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-02T18:56:26.268Z",
      "updatedAt": "2025-08-02T18:56:26.268Z",
      "id": "nnDA7isE4OxnQFwX",
      "name": "Development"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-16T18:50:18.973Z",
  "versionId": "7da02ad1-4484-4daf-8d00-b18b5e20ed1a"
}