n8n-workflows/Gmail AI Auto-Sorter.json
{"createdAt":"2025-07-13T13:09:41.619Z","updatedAt":"2025-07-13T13:18:53.500Z","id":"3H3sbwU75lOfEnAQ","name":"Gmail AI Auto-Sorter","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":15,"unit":"minutes"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[160,380],"id":"a92a0e13-1da5-4799-9446-1db766dbd775","name":"Gmail Trigger"},{"parameters":{"promptType":"define","text":"=Topic: {{ $json.subject }}\nDescription: {{ $json.text }}\nSender: {{ $json.from.text }}","hasOutputParser":true,"options":{"systemMessage":"=** Your Role **\nYou are an intelligent email assistant responsible for sorting incoming messages. Your task is to analyze the content, subject, and sender of each email and assign it to the appropriate category.\n\n** Categories **\nCategories for sorting (return exact lowercase value):\n\n- priority: messages requiring immediate attention (from supervisors, clients)\n- business: correspondence related to current projects, contracts, meetings  \n- newsletter: newsletter issues and subscriptions\n- administrative: invoices, contracts, formal documents\n- personal: private messages not related to work\n- notifications: messages from social media, apps, system notifications\n- support: customer service, help desk, technical support\n- finance: banking, payments, financial statements, expenses\n- travel: flights, hotels, bookings, visas\n- events: conferences, meetings, webinars, invitations\n- shopping: orders, receipts, shipping, e-commerce\n- security: login alerts, password resets, 2FA codes\n- marketing: promotions, product announcements (not spam)\n- urgent: time-sensitive but not priority-level\n- review: documents requiring approval/review\n- hr: human resources, benefits, company policies\n- it: software updates, system maintenance, tech tickets\n\n** Instructions **\nFor each email:\n\n- Analyze the content, subject, and sender\n- Assign it to the appropriate category\n- Add a label with the category\n- If you are unsure, do not label the message\n\n** Response Format **\nAlways return the result in JSON format:\n\n{\n  \"email_label\": \"business\"\n}\n\nIMPORTANT – the response must always be in lowercase."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1920,1460],"id":"b032b286-94e9-446c-8745-6565ac663529","name":"Generate Label (old-emails)"},{"parameters":{"operation":"getAll","limit":5,"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,1560],"id":"0e4ebb5d-15d1-4422-a0bf-7c9365f21cb1","name":"Get Messages","webhookId":"a0511bfe-4783-4d8a-a297-c1d75fba8f02"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[160,1460],"id":"62b7dd32-6a96-41ee-8723-faffb37af83b","name":"Setup & Process Existing"},{"parameters":{"resource":"label","operation":"create","name":"={{ $('Split Out').item.json.labelName }}","options":{"labelListVisibility":"labelShowIfUnread","messageListVisibility":"show"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[820,1360],"id":"4f0b6f28-7a00-420b-85fa-5a9eda63cdf7","name":"Create missing label","webhookId":"9d1e5308-0dfd-45e0-9495-0f75579b339c","executeOnce":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Get all labels from the Get all labels node\nconst allLabels = $('Get all labels').all();\n\n// Extract user labels and format as \"name: id\"\nconst userLabels = allLabels\n  .filter(item => item.json.type === 'user')\n  .map(item => `${item.json.name}: ${item.json.id}`);\n\n// Return as single item with all formatted labels\nreturn [{\n  json: {\n    exsitingLabels: userLabels,\n    totalUserLabels: userLabels.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,1360],"id":"80f4f132-6c90-4af5-b04b-aff1653b87d4","name":"Labels Map"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1980,1160],"id":"97e61311-f7d2-4bb9-8205-4c61a230f7f2","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c287523-4ae2-43c4-8f9a-faf756f01855","leftValue":"={{ $('Get Messages').item.json.labelIds.join(',') }}","rightValue":"Label","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1260,1560],"id":"1928363d-0ff8-4ef9-8992-026cc5bb8b9e","name":"Check Label (existing-emails)","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c287523-4ae2-43c4-8f9a-faf756f01855","leftValue":"={{ $('Gmail Trigger').first().json.labelIds.join(',') }}","rightValue":"Label","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[600,480],"id":"c635ad63-9a67-4f56-b5c5-a6a919304f8d","name":"Check Label (new-emails)","alwaysOutputData":false},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,1360],"id":"90928661-64c8-44b8-895e-7c0de7ec44ef","name":"Get all labels","webhookId":"57e9569d-52d4-4b72-abe8-fa60e7362203"},{"parameters":{"assignments":{"assignments":[{"id":"ca2da048-5276-4578-82f1-fa9ac2460153","name":"labels","value":"=[\n  \"PRIORITY\",\n  \"BUSINESS\", \n  \"NEWSLETTER\",\n  \"ADMINISTRATIVE\",\n  \"PERSONAL\",\n  \"NOTIFICATIONS\",\n  \"SUPPORT\",\n  \"FINANCE\",\n  \"TRAVEL\",\n  \"EVENTS\",\n  \"SHOPPING\",\n  \"SECURITY\",\n  \"MARKETING\",\n  \"URGENT\",\n  \"REVIEW\",\n  \"HR\",\n  \"IT\"\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,1360],"id":"692bccfe-5737-4e90-a6f7-dd38b0932270","name":"Labels"},{"parameters":{"fieldToSplitOut":"labels","options":{"destinationFieldName":"labelName"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[600,1360],"id":"38f08538-9927-4752-97f4-11fc37945315","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1320,80],"id":"9c9b0ac9-9ad7-451a-b9bb-600201f14db3","name":"Aggregate1"},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[380,280],"id":"0a2f5fe9-5910-4647-92b3-df75329e9a67","name":"Get all labels (new-emails)","webhookId":"57e9569d-52d4-4b72-abe8-fa60e7362203"},{"parameters":{"jsCode":"// Get all labels from the Get all labels node\nconst allLabels = $('Get all labels (new-emails)').all();\n\n// Extract user labels and format as \"name: id\"\nconst userLabels = allLabels\n  .filter(item => item.json.type === 'user')\n  .map(item => `${item.json.name}: ${item.json.id}`);\n\n// Return as single item with all formatted labels\nreturn [{\n  json: {\n    exsitingLabels: userLabels,\n    totalUserLabels: userLabels.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,280],"id":"1dd68856-a74e-404d-9e6a-eb8e106272d4","name":"Labels Map (new-emails)"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[820,380],"id":"cd100784-ca31-4fec-ac34-80cde27e601d","name":"Merge (new-emails)"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1480,1460],"id":"26880c35-4aa1-4a66-ab51-45b255348eff","name":"Merge  (old-emails)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1700,1460],"id":"0386353d-fbd4-4b04-b67d-d2b296a6dd57","name":"Loop Over (old-emails)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1040,380],"id":"be3500ab-904f-4b9d-b7b6-1ef8e860d4dc","name":"Loop Over (new-emails)"},{"parameters":{"promptType":"define","text":"=Topic: {{ $json.subject }}\nDescription: {{ $json.text }}\nSender: {{ $json.from.text }}","hasOutputParser":true,"options":{"systemMessage":"=** Your Role **\nYou are an intelligent email assistant responsible for sorting incoming messages. Your task is to analyze the content, subject, and sender of each email and assign it to the appropriate category.\n\n** Categories **\nCategories for sorting (return exact lowercase value):\n\n- priority: messages requiring immediate attention (from supervisors, clients)\n- business: correspondence related to current projects, contracts, meetings  \n- newsletter: newsletter issues and subscriptions\n- administrative: invoices, contracts, formal documents\n- personal: private messages not related to work\n- notifications: messages from social media, apps, system notifications\n- support: customer service, help desk, technical support\n- finance: banking, payments, financial statements, expenses\n- travel: flights, hotels, bookings, visas\n- events: conferences, meetings, webinars, invitations\n- shopping: orders, receipts, shipping, e-commerce\n- security: login alerts, password resets, 2FA codes\n- marketing: promotions, product announcements (not spam)\n- urgent: time-sensitive but not priority-level\n- review: documents requiring approval/review\n- hr: human resources, benefits, company policies\n- it: software updates, system maintenance, tech tickets\n\n** Instructions **\nFor each email:\n\n- Analyze the content, subject, and sender\n- Assign it to the appropriate category\n- Add a label with the category\n- If you are unsure, do not label the message\n\n** Response Format **\nAlways return the result in JSON format:\n\n{\n  \"email_label\": \"business\"\n}\n\nIMPORTANT – the response must always be in lowercase."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1260,380],"id":"03b3e40d-412c-4783-aa1e-e1e77bc60a00","name":"Generate Label (new-emails)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cbeeb93-8940-4e90-97e2-de2a5310e484","leftValue":"={{ $('Generate Label (old-emails)').item.json.output.email_label }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2280,1460],"id":"9fdde9e4-3f59-4257-aa4d-598833048f3a","name":"If (old-emails)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cbeeb93-8940-4e90-97e2-de2a5310e484","leftValue":"={{ $('Generate Label (new-emails)').item.json.output.email_label }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1620,380],"id":"c3bcb047-8867-4cd1-a2b0-4422e00bb3ba","name":"If (new-emails)"},{"parameters":{"jsCode":"// Get the email label from AI (assuming it's 'business')\nconst emailLabel = $(\"Generate Label (old-emails)\").first().json.output.email_label;\n\n// Capitalize first letter to match label format\nconst upperCaseLabel = emailLabel.toUpperCase();\n\n// Get the existing labels array\nconst existingLabels = $('Labels Map').first().json.exsitingLabels;\n\n// Find the matching label\nconst matchingLabel = existingLabels.find(label => \n  label.startsWith(upperCaseLabel + ':')\n);\n\nif (matchingLabel) {\n  // Extract the label ID (everything after ': ')\n  const labelId = matchingLabel.split(': ')[1];\n  \n  return [{\n    json: {\n      success: true,\n      generatedLabel: emailLabel,\n      existingLabelName: upperCaseLabel,\n      existingLabelId: labelId\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      error: `No label found for: ${upperCaseLabel}`,\n      generatedLabel: upperCaseLabel,\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,1400],"id":"d4a29c73-47e1-427e-bf7f-8965eb72689a","name":"Get Label ID (old-emails)"},{"parameters":{"jsCode":"// Get the email label from AI (assuming it's 'business')\nconst emailLabel = $('Generate Label (new-emails)').first().json.output.email_label;\n\n// Capitalize first letter to match label format\nconst upperCaseLabel = emailLabel.toUpperCase();\n\n// Get the existing labels array\nconst existingLabels = $(\"Labels Map (new-emails)\").first().json.exsitingLabels;\n\n// Find the matching label\nconst matchingLabel = existingLabels.find(label => \n  label.startsWith(upperCaseLabel + ':')\n);\n\nif (matchingLabel) {\n  // Extract the label ID (everything after ': ')\n  const labelId = matchingLabel.split(': ')[1];\n  \n  return [{\n    json: {\n      success: true,\n      generatedLabel: emailLabel,\n      existingLabelName: upperCaseLabel,\n      existingLabelId: labelId\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      error: `No label found for: ${upperCaseLabel}`,\n      generatedLabel: upperCaseLabel,\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,300],"id":"8d6d716a-7f8e-47ee-b847-6e6a62238b4b","name":"Get Label ID (new-emails)"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Get Label ID (old-emails)').first().json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"b4d319b6-0068-4203-a233-c6f78f32086b"}],"combinator":"and"},"renameOutput":true,"outputKey":"use-label"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1bf9fef-df42-499c-ab24-a2f733708c41","leftValue":"={{ $('Get Label ID (old-emails)').first().json.success }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"create-label"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2720,1400],"id":"fac6d7ab-673b-4ea5-be5b-3f96ad993879","name":"Switch (old-emails)"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Get Label ID (new-emails)').first().json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"b4d319b6-0068-4203-a233-c6f78f32086b"}],"combinator":"and"},"renameOutput":true,"outputKey":"use-label"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1bf9fef-df42-499c-ab24-a2f733708c41","leftValue":"={{ $('Get Label ID (new-emails)').first().json.success }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"create-label"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2060,300],"id":"7ef9369f-6da0-48cd-a38e-c654e2e8f3ee","name":"Switch (new-emails)"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Loop Over (old-emails)').item.json.id }}","labelIds":"={{ [$('Switch (old-emails)').item.json.existingLabelId] }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2940,1320],"id":"608a5db2-ecf9-4dd6-8c9d-0b588eadf17c","name":"Set Label (old-emails)","webhookId":"70219a19-4705-493c-9291-527655dd8099"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Loop Over (new-emails)').item.json.id }}","labelIds":"={{ [$('Switch (new-emails)').item.json.existingLabelId] }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2280,220],"id":"ee4f6d5b-18cd-4865-8a65-f03efb219142","name":"Set Existing (new-emails)","webhookId":"70219a19-4705-493c-9291-527655dd8099"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace (new-emails)","typeVersion":1,"position":[2500,460],"id":"49604d54-7b3f-4af1-ad3f-166ebd2e2841"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace (old-emails)","typeVersion":1,"position":[3160,1540],"id":"6d5f6769-fa67-4936-be72-a55a94f611f7"},{"parameters":{"content":"# New emails (processed every 15 mins)","height":900,"width":2780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"bc7d33e2-25cd-4183-9fb2-f728ba330aa4","name":"Sticky Note"},{"parameters":{"content":"# Setup and process existing emails","height":940,"width":3440,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,1020],"typeVersion":1,"id":"60ec4323-9b8f-4bf5-8b81-e67a9afe8130","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1220,600],"id":"7292b389-ba62-40e4-9114-70c81cd5d8f9","name":"OpenAI (new-emails)"},{"parameters":{"jsonSchemaExample":"{\n  \"email_label\": \"business\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1440,600],"id":"cac4a6a7-fb04-47c1-a9cd-f98090145cee","name":"Structured Output Parser (new-emails)"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1880,1680],"id":"454f9034-8184-46fa-89bb-92574ce7a544","name":"OpenAI (old-emails)"},{"parameters":{"jsonSchemaExample":"{\n  \"email_label\": \"business\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2100,1680],"id":"cb43fee4-a5c6-41b4-a220-d9c30ad5319a","name":"Structured Output Parser (old-emails)"},{"parameters":{"content":"**Author:** Mohit Aneja  \n**Title:** AI Integration Expert | Founder [AixonAI](https://aixonai.com)\n**Email:** catchme@mohitaneja.com  \n**Website:** [https://mohitaneja.com](https://mohitaneja.com)\n**Version:** 1.0  \n**Last Updated:** July 10, 2025\n**Documentation**\n[https://mohitaneja.com/articles/n8n-workflow-gmail-ai-auto-sorter](https://mohitaneja.com/articles/n8n-workflow-gmail-ai-auto-sorter)\n\n**Get In Touch** [Support](https://mohitaneja.com/contact)\n**Hire Me** [Upwork](https://www.upwork.com/freelancers/mohitaneja)","height":900,"width":600},"type":"n8n-nodes-base.stickyNote","position":[2840,0],"typeVersion":1,"id":"45364278-5a92-4218-bc01-dea2224000b8","name":"Sticky Note2"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Check Label (new-emails)","type":"main","index":0},{"node":"Get all labels (new-emails)","type":"main","index":0}]]},"Generate Label (old-emails)":{"main":[[{"node":"If (old-emails)","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Check Label (existing-emails)","type":"main","index":0}]]},"Setup & Process Existing":{"main":[[{"node":"Labels","type":"main","index":0},{"node":"Get Messages","type":"main","index":0}]]},"Create missing label":{"main":[[{"node":"Get all labels","type":"main","index":0}]]},"Labels Map":{"main":[[{"node":"Merge  (old-emails)","type":"main","index":0}]]},"Check Label (existing-emails)":{"main":[[{"node":"Merge  (old-emails)","type":"main","index":1}]]},"Check Label (new-emails)":{"main":[[{"node":"Merge (new-emails)","type":"main","index":1}]]},"Get all labels":{"main":[[{"node":"Labels Map","type":"main","index":0}]]},"Labels":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Create missing label","type":"main","index":0}]]},"Get all labels (new-emails)":{"main":[[{"node":"Labels Map (new-emails)","type":"main","index":0}]]},"Labels Map (new-emails)":{"main":[[{"node":"Merge (new-emails)","type":"main","index":0}]]},"Merge (new-emails)":{"main":[[{"node":"Loop Over (new-emails)","type":"main","index":0}]]},"Merge  (old-emails)":{"main":[[{"node":"Loop Over (old-emails)","type":"main","index":0}]]},"Loop Over (old-emails)":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Generate Label (old-emails)","type":"main","index":0}]]},"Loop Over (new-emails)":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Generate Label (new-emails)","type":"main","index":0}]]},"Generate Label (new-emails)":{"main":[[{"node":"If (new-emails)","type":"main","index":0}]]},"If (old-emails)":{"main":[[{"node":"Get Label ID (old-emails)","type":"main","index":0}],[{"node":"Replace (old-emails)","type":"main","index":0}]]},"If (new-emails)":{"main":[[{"node":"Get Label ID (new-emails)","type":"main","index":0}],[{"node":"Replace (new-emails)","type":"main","index":0}]]},"Get Label ID (old-emails)":{"main":[[{"node":"Switch (old-emails)","type":"main","index":0}]]},"Get Label ID (new-emails)":{"main":[[{"node":"Switch (new-emails)","type":"main","index":0}]]},"Switch (old-emails)":{"main":[[{"node":"Set Label (old-emails)","type":"main","index":0}],[{"node":"Replace (old-emails)","type":"main","index":0}]]},"Switch (new-emails)":{"main":[[{"node":"Set Existing (new-emails)","type":"main","index":0}],[{"node":"Replace (new-emails)","type":"main","index":0}]]},"Set Label (old-emails)":{"main":[[{"node":"Replace (old-emails)","type":"main","index":0}]]},"Set Existing (new-emails)":{"main":[[{"node":"Replace (new-emails)","type":"main","index":0}]]},"Replace (new-emails)":{"main":[[{"node":"Loop Over (new-emails)","type":"main","index":0}]]},"Replace (old-emails)":{"main":[[{"node":"Loop Over (old-emails)","type":"main","index":0}]]},"OpenAI (new-emails)":{"ai_languageModel":[[{"node":"Generate Label (new-emails)","type":"ai_languageModel","index":0}]]},"Structured Output Parser (new-emails)":{"ai_outputParser":[[{"node":"Generate Label (new-emails)","type":"ai_outputParser","index":0}]]},"OpenAI (old-emails)":{"ai_languageModel":[[{"node":"Generate Label (old-emails)","type":"ai_languageModel","index":0}]]},"Structured Output Parser (old-emails)":{"ai_outputParser":[[{"node":"Generate Label (old-emails)","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"652ac3d5-c255-4a23-9bc3-a70c2268ca77","triggerCount":0,"tags":[]}
