n8n-workflows/INNER UPGRADE SHORTS.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Publishing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Youtube Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek v": {
      "ai_languageModel": [
        [
          {
            "node": "Publishing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Publishing Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SUCCESS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Post": {
      "main": [
        [
          {
            "node": "UPDATE YOUTUBE COLUMN",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing Agent": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE YOUTUBE COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE FB COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "UPDATE INSTA COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "UPDATE TIKTOK COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ERROR": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "UPDATE FB COLUMN",
            "type": "main",
            "index": 0
          },
          {
            "node": "UPDATE INSTA COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postiz4": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "UPDATE TIKTOK COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel IDs - IUP": {
      "main": [
        [
          {
            "node": "Postiz4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postiz": {
      "main": [
        [
          {
            "node": "Channel IDs - IUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-12T16:29:17.733Z",
  "id": "VaJsuENAdXPrutSc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "INNER UPGRADE SHORTS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1872,
        -384
      ],
      "id": "94b477e3-6cd5-4680-9dca-7777cfcd27d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "READY"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2096,
        -384
      ],
      "id": "dbd7ecee-6122-49ff-ae8d-4e902ae311fb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get row(s) in sheet').item.json.MEDIA }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        -384
      ],
      "id": "8277de63-bd71-4d82-8e72-6cd0bdfe0418",
      "name": "Download Video",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- **Input Text Field**:{{ $json.Description }}\n{{ $json.TEXT }}\n- **style_tone**: NO-BS MOTIVATIONAL COACH",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are an AI specialized in crafting high-impact, viral titles and descriptions optimized for TikTok Shorts, Instagram Reels, YouTube Shorts, and Facebook Reels. \n\nYou will receive a input containing informational fields which may be variably named (e.g., \"title\", \"script\", etc.).\n\nYour task is to dynamically detect and use the text field from the input to generate platform-specific content tailored to each platform’s unique style and audience engagement.\n\nThe **tone and style** of the output should be customizable based on a user-defined variable called `style_tone`. This variable specifies the persona or voice you should adopt when generating content (e.g., \"bossbaby\", \"motivational coach\", \"comedy sketch\", etc.).\n\n---\n\n### Input variables:\n\n- **Input Text Field**: The text to base your content on (captions, description, name etc). DO NOT JUST REPEAT EXACTLY WHAT IT SAYS.  \n- **style_tone**: A string indicating the desired voice/persona for the content.\n\n---\n\n### Platform-specific output requirements:\n\n1. **Instagram Reels**:  \n   - Description: Brief, visually descriptive, up to 5 hashtags, strong call-to-action.\n\n2. **YouTube Shorts**:  \n   - Title (max 50 chars): Direct, suspenseful, clickbait style.  \n   - Description: Concise, keyword-rich, with engagement prompts and up to 5 hashtags.\n\n3. **Facebook Reels**:   \n   - Description: Short, emotional hook encouraging reactions and up to 5 hashtags.\n\n4. **TikTok**:  \n   - Description: Creative, catchy, platform-appropriate and up to 5 hashtags.\n\n---\n\n### Output format:\n\nReturn strictly this JSON structure, adapting content tone according to `style_tone`:\n{\n  \"instagram\": {\n    \"description\": \"...\"\n  },\n  \"youtube\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  },\n  \"facebook\": {\n    \"description\": \"...\"\n  },\n  \"tiktok\": {\n    \"description\": \"...\"\n  }\n}\n\n#Note \n- Return only the EXACT JSON Output and nothing else."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2320,
        -384
      ],
      "id": "a198a6a9-d1a3-4654-b531-80f101329b00",
      "name": "Publishing Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2336,
        -160
      ],
      "id": "55e1c2f8-5bb3-4a98-8e8a-417ac5dcf827",
      "name": "deepseek v",
      "credentials": {
        "openRouterApi": {
          "id": "Z0qdSGsCKeFZM9R5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"instagram\": {\n    \"description\": \"...\"\n  },\n  \"youtube\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  },\n  \"facebook\": {\n    \"description\": \"...\"\n  },\n  \"tiktok\": {\n    \"description\": \"...\"\n  }\n}\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2464,
        -160
      ],
      "id": "dda06ede-8b8d-4ce6-84ee-bdba19b8d291",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c087ebbf-22a5-45f4-82d5-ddabfd921889",
              "leftValue": "={{ $json.YOUTUBE }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "301baec8-c772-4042-bdc1-7d2d99f07043",
              "leftValue": "={{ $json.FACEBOOK }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c7469347-06e8-4163-a280-d85ed47d167b",
              "leftValue": "={{ $json.INSTAGRAM }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a216f3c7-76f0-4bdb-89c6-e9e0dd389ce5",
              "leftValue": "={{ $json.TIKTOK }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4320,
        -400
      ],
      "id": "41bc80fd-ad30-43a0-a7dc-4998f6a893cc",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Publishing Agent').item.json.output.youtube.title }}",
        "regionCode": "US",
        "categoryId": "24",
        "options": {
          "description": "={{ $('Publishing Agent').item.json.output.youtube.description }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        3264,
        -688
      ],
      "id": "4be32310-279f-490b-a8bd-d7b81336193b",
      "name": "Youtube Post",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EMozQ7Zjgr2K5XmT",
          "name": "YouTube INNER UPGRADE DAILY"
        }
      }
    },
    {
      "parameters": {
        "content": "## Insta Agent",
        "height": 368,
        "width": 180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3376,
        -512
      ],
      "id": "2ecf79fc-cc79-4f9a-af78-39ccbfefd790",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## FB Agent",
        "height": 368,
        "width": 164,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3216,
        -512
      ],
      "id": "d8b664bb-400b-4ccc-b17d-c163b5f0f890",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## TikTok Agent - TO ZAP",
        "height": 220,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3216,
        -144
      ],
      "id": "d878f5f8-c79b-4a31-8347-49d64240757a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4112,
        -432
      ],
      "id": "49d335da-9a32-4a60-bb4b-2bcfd0567d7e",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Youtube Agent\n",
        "height": 220,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3216,
        -736
      ],
      "id": "c320cb65-fc24-448e-a01b-8518e07d3cdd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "YOUTUBE": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3664,
        -688
      ],
      "id": "edf5fb26-9c04-4ded-b31d-3bdee4a5339e",
      "name": "UPDATE YOUTUBE COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FACEBOOK": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3664,
        -448
      ],
      "id": "229d24ad-94fd-49df-b764-b3a1f1e52bf0",
      "name": "UPDATE FB COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "INSTAGRAM": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3664,
        -288
      ],
      "id": "b38c21d3-836c-4bc9-a88d-4a03b42687e4",
      "name": "UPDATE INSTA COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIKTOK": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3664,
        -96
      ],
      "id": "e646aaaf-b014-412f-b352-0c56af233e63",
      "name": "UPDATE TIKTOK COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "POSTED",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "ERROR?": "NONE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4624,
        -416
      ],
      "id": "22940579-3ec2-4c31-81b9-6550933b9654",
      "name": "SUCCESS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ERROR?": "ERROR",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4592,
        -128
      ],
      "id": "b8e2031d-7033-4027-8e7e-09ac68840616",
      "name": "ERROR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### SUCCESSFUL\n",
        "height": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        -480
      ],
      "id": "09711147-57b8-4c3c-82c7-c25a62d07b75",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Error",
        "height": 220,
        "width": 460,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        -192
      ],
      "id": "5fe4e090-9b7a-4059-9bf2-7b77c1355b8c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "chatId": "7439997846",
        "text": "=⚠️ *Workflow Alert: Post Failure*\nVIDEO: {{ $('Append row in sheet').item.json.TITLE }}\nTIKTOK: {{ $('If').item.json.TIKTOK }}\nYOUTUBE: {{ $('If').item.json.YOUTUBE }}\nFB: {{ $('If').item.json.FACEBOOK }}\nINSTA: {{ $('If').item.json.INSTAGRAM }}\n\n{{ $workflow.name }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4800,
        -128
      ],
      "id": "4a7a9c7a-ab50-474c-81bd-3c8a77e13407",
      "name": "Send a text message",
      "webhookId": "c6551412-2e09-462a-8049-b899b955d445",
      "credentials": {
        "telegramApi": {
          "id": "HHgbp1SZSR5uC5wr",
          "name": "Telegram account - ALERTS"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3408,
        -288
      ],
      "id": "252195e3-b6b4-48ba-9804-263609eb75a9",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "type": "draft",
        "date": "={{ $now }}",
        "posts": {
          "post": [
            {
              "integrationId": "={{ $json.Facebook }}",
              "value": {
                "contentItem": [
                  {
                    "content": "={{ $('Publishing Agent').item.json.output.facebook.description }}",
                    "image": {
                      "imageItem": [
                        {
                          "id": "={{ $('Postiz').item.json.id }}",
                          "path": "={{ $('Postiz').item.json.path }}"
                        }
                      ]
                    }
                  }
                ]
              }
            },
            {
              "integrationId": "={{ $json.Instagram }}",
              "settings": {
                "setting": [
                  {
                    "key": "post_type",
                    "stringValue": "post"
                  }
                ]
              },
              "value": {
                "contentItem": [
                  {
                    "content": "={{ $('Publishing Agent').item.json.output.instagram.description }}",
                    "image": {
                      "imageItem": [
                        {
                          "id": "={{ $('Postiz').item.json.id }}",
                          "path": "={{ $('Postiz').item.json.path }}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-postiz.postiz",
      "typeVersion": 1,
      "position": [
        3248,
        -288
      ],
      "id": "56b187f0-f5e2-4718-8eff-e2d4bc9c93e5",
      "name": "Postiz4",
      "credentials": {
        "postizApi": {
          "id": "w48sNDeInJhYBUtQ",
          "name": "Postiz WTF Kreative"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1109176401,
          "mode": "list",
          "cachedResultName": "TIKTOK ZAP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1109176401"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DESC": "={{ $('Publishing Agent').item.json.output.tiktok.description }}",
            "DATE": "={{ $now }}",
            "TITLE": "={{ $('Get row(s) in sheet').item.json.Description }}",
            "URL": "={{ $('Get row(s) in sheet').item.json.MEDIA }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESC",
              "displayName": "DESC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3264,
        -96
      ],
      "id": "2236cfa5-e832-4551-b0e3-d683ccbce5fd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88612fe5-9484-4237-986d-6230a62aa083",
              "name": "Facebook",
              "value": "cmffissqd0003rw7ft26fagu6",
              "type": "string"
            },
            {
              "id": "26eea580-acd3-4d0a-93d6-1052021ddd9f",
              "name": "Instagram",
              "value": "cmffixlzl0009rw7ff339t01y",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        -448
      ],
      "id": "bca7abe2-d942-4713-836e-45d7eb7c2a74",
      "name": "Channel IDs - IUP"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "binaryProperty": "={{ $('Download Video').item.binary }}"
      },
      "type": "n8n-nodes-postiz.postiz",
      "typeVersion": 1,
      "position": [
        3248,
        -448
      ],
      "id": "ecf7c558-03ed-4902-897b-fde90277e9a7",
      "name": "Postiz",
      "credentials": {
        "postizApi": {
          "id": "w48sNDeInJhYBUtQ",
          "name": "Postiz WTF Kreative"
        }
      }
    },
    {
      "parameters": {
        "content": "# S\n# H\n# E\n# E\n# T \n# S \n\n\n\n\n# U\n# P\n# D\n# A\n# T \n# E ",
        "height": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3568,
        -736
      ],
      "id": "cb73a837-93bf-40c9-b602-a62c0e374676",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ErJsFIMzI5GAr6Io"
  },
  "shared": [
    {
      "createdAt": "2025-07-12T16:29:17.733Z",
      "updatedAt": "2025-07-12T16:29:17.733Z",
      "role": "workflow:owner",
      "workflowId": "VaJsuENAdXPrutSc",
      "projectId": "aYesZFcPjHzYQyLq"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-08-03T13:57:08.438Z",
      "updatedAt": "2025-08-03T13:57:08.438Z",
      "id": "Mas1jE28bXSMu19L",
      "name": "Fully Functional"
    },
    {
      "createdAt": "2025-09-12T17:38:42.049Z",
      "updatedAt": "2025-09-12T17:38:42.049Z",
      "id": "aGfv27TDHqLUsUfB",
      "name": "CURRENTLY IN USE"
    },
    {
      "createdAt": "2025-09-12T18:09:53.164Z",
      "updatedAt": "2025-09-12T18:09:53.164Z",
      "id": "E5uIgQAu9AEGW2wZ",
      "name": "IUP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-12T18:26:26.316Z",
  "versionId": "ceb8de80-f66c-42a0-b096-390a826d4e15"
}