n8n-workflows/INNER UPGRADE SHORTS.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Publishing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "POST TO FACEBOOK",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST TO INSTAGRAM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST TO TIKTOK",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST TO THREADS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek v": {
      "ai_languageModel": [
        [
          {
            "node": "Publishing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Publishing Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SUCCESS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Post": {
      "main": [
        [
          {
            "node": "UPDATE YOUTUBE COLUMN",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing Agent": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST TO INSTAGRAM": {
      "main": [
        [
          {
            "node": "UPDATE INSTA COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST TO FACEBOOK": {
      "main": [
        [
          {
            "node": "UPDATE FB COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE YOUTUBE COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE FB COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "UPDATE INSTA COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "UPDATE TIKTOK COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ERROR": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST TO TIKTOK": {
      "main": [
        [
          {
            "node": "UPDATE TIKTOK COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST TO THREADS": {
      "main": [
        [
          {
            "node": "UPDATE THREADS COLUMN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE THREADS COLUMN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-12T16:29:17.733Z",
  "id": "VaJsuENAdXPrutSc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "INNER UPGRADE SHORTS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2240,
        -280
      ],
      "id": "94b477e3-6cd5-4680-9dca-7777cfcd27d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "READY"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2460,
        -280
      ],
      "id": "dbd7ecee-6122-49ff-ae8d-4e902ae311fb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get row(s) in sheet').item.json.MEDIA }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        -280
      ],
      "id": "8277de63-bd71-4d82-8e72-6cd0bdfe0418",
      "name": "Download Video",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- **Input Text Field**:{{ $json.Description }}\n{{ $json.TEXT }}\n- **style_tone**: NO-BS MOTIVATIONAL COACH",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are an AI specialized in crafting high-impact, viral titles and descriptions optimized for TikTok Shorts, Instagram Reels, YouTube Shorts, and Facebook Reels. \n\nYou will receive a input containing informational fields which may be variably named (e.g., \"title\", \"script\", etc.).\n\nYour task is to dynamically detect and use the text field from the input to generate platform-specific content tailored to each platform’s unique style and audience engagement.\n\nThe **tone and style** of the output should be customizable based on a user-defined variable called `style_tone`. This variable specifies the persona or voice you should adopt when generating content (e.g., \"bossbaby\", \"motivational coach\", \"comedy sketch\", etc.).\n\n---\n\n### Input variables:\n\n- **Input Text Field**: The text to base your content on (captions, description, name etc). DO NOT JUST REPEAT EXACTLY WHAT IT SAYS.  \n- **style_tone**: A string indicating the desired voice/persona for the content.\n\n---\n\n### Platform-specific output requirements:\n\n1. **Instagram Reels**:  \n   - Description: Brief, visually descriptive, up to 5 hashtags, strong call-to-action.\n\n2. **YouTube Shorts**:  \n   - Title (max 50 chars): Direct, suspenseful, clickbait style.  \n   - Description: Concise, keyword-rich, with engagement prompts and up to 5 hashtags.\n\n3. **Facebook Reels**:   \n   - Description: Short, emotional hook encouraging reactions and up to 5 hashtags.\n\n4. **TikTok**:  \n   - Description: Creative, catchy, platform-appropriate and up to 5 hashtags.\n\n---\n\n### Output format:\n\nReturn strictly this JSON structure, adapting content tone according to `style_tone`:\n{\n  \"instagram\": {\n    \"description\": \"...\"\n  },\n  \"youtube\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  },\n  \"facebook\": {\n    \"description\": \"...\"\n  },\n  \"tiktok\": {\n    \"description\": \"...\"\n  }\n}\n\n#Note \n- Return only the EXACT JSON Output and nothing else."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2680,
        -280
      ],
      "id": "a198a6a9-d1a3-4654-b531-80f101329b00",
      "name": "Publishing Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2700,
        -60
      ],
      "id": "55e1c2f8-5bb3-4a98-8e8a-417ac5dcf827",
      "name": "deepseek v",
      "credentials": {
        "openRouterApi": {
          "id": "Z0qdSGsCKeFZM9R5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"instagram\": {\n    \"description\": \"...\"\n  },\n  \"youtube\": {\n    \"title\": \"...\",\n    \"description\": \"...\"\n  },\n  \"facebook\": {\n    \"description\": \"...\"\n  },\n  \"tiktok\": {\n    \"description\": \"...\"\n  }\n}\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2820,
        -60
      ],
      "id": "dda06ede-8b8d-4ce6-84ee-bdba19b8d291",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c087ebbf-22a5-45f4-82d5-ddabfd921889",
              "leftValue": "={{ $('UPDATE YOUTUBE COLUMN').item.json.YOUTUBE }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "301baec8-c772-4042-bdc1-7d2d99f07043",
              "leftValue": "={{ $('UPDATE FB COLUMN').item.json.FACEBOOK }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c7469347-06e8-4163-a280-d85ed47d167b",
              "leftValue": "={{ $('UPDATE INSTA COLUMN').item.json.INSTAGRAM }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a216f3c7-76f0-4bdb-89c6-e9e0dd389ce5",
              "leftValue": "={{ $('UPDATE TIKTOK COLUMN').item.json.TIKTOK }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e6798839-fa92-41d6-80e6-7d89c2eeaedd",
              "leftValue": "={{ $('UPDATE THREADS COLUMN').item.json.THREADS }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3920,
        -280
      ],
      "id": "41bc80fd-ad30-43a0-a7dc-4998f6a893cc",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Publishing Agent').item.json.output.youtube.title }}",
        "regionCode": "US",
        "categoryId": "24",
        "options": {
          "description": "={{ $('Publishing Agent').item.json.output.youtube.description }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        3260,
        -680
      ],
      "id": "4be32310-279f-490b-a8bd-d7b81336193b",
      "name": "Youtube Post",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EMozQ7Zjgr2K5XmT",
          "name": "YouTube INNER UPGRADE DAILY"
        }
      }
    },
    {
      "parameters": {
        "content": "## Instagram Agent",
        "height": 220,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3210,
        -340
      ],
      "id": "2ecf79fc-cc79-4f9a-af78-39ccbfefd790",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Facebook Agent",
        "height": 240,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3210,
        -560
      ],
      "id": "d8b664bb-400b-4ccc-b17d-c163b5f0f890",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## TikTok Agent",
        "height": 220,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3210,
        -140
      ],
      "id": "d878f5f8-c79b-4a31-8347-49d64240757a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3700,
        -320
      ],
      "id": "49d335da-9a32-4a60-bb4b-2bcfd0567d7e",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Youtube Agent\n",
        "height": 220,
        "width": 420,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3210,
        -740
      ],
      "id": "c320cb65-fc24-448e-a01b-8518e07d3cdd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "Inner-Upgrade",
        "platform": [
          "instagram"
        ],
        "title": "={{ $json.output.instagram.description }}",
        "caption": "={{ $json.output.instagram.description }}",
        "video": "={{ $('Get row(s) in sheet').item.json.MEDIA }}",
        "instagramMediaType": "REELS"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        3260,
        -280
      ],
      "id": "dab1a2f5-fa74-4f1f-aa2a-3b151dc80b08",
      "name": "POST TO INSTAGRAM",
      "credentials": {
        "uploadPostApi": {
          "id": "6bPvReVoQxtm0Hka",
          "name": "Upload Post account"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "Inner-Upgrade",
        "platform": [
          "facebook"
        ],
        "title": "={{ $json.output.youtube.title }}",
        "caption": "={{ $json.output.facebook.description }}",
        "video": "={{ $('Get row(s) in sheet').item.json.MEDIA }}",
        "facebookPageId": "659232113940352",
        "facebookVideoDescription": "={{ $json.output.facebook.description }}"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        3260,
        -480
      ],
      "id": "83452934-1525-43b7-a880-45968b5bc3e1",
      "name": "POST TO FACEBOOK",
      "credentials": {
        "uploadPostApi": {
          "id": "6bPvReVoQxtm0Hka",
          "name": "Upload Post account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "YOUTUBE": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3480,
        -680
      ],
      "id": "edf5fb26-9c04-4ded-b31d-3bdee4a5339e",
      "name": "UPDATE YOUTUBE COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FACEBOOK": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3480,
        -480
      ],
      "id": "229d24ad-94fd-49df-b764-b3a1f1e52bf0",
      "name": "UPDATE FB COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "INSTAGRAM": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3480,
        -280
      ],
      "id": "b38c21d3-836c-4bc9-a88d-4a03b42687e4",
      "name": "UPDATE INSTA COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TIKTOK": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3480,
        -80
      ],
      "id": "e646aaaf-b014-412f-b352-0c56af233e63",
      "name": "UPDATE TIKTOK COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "POSTED",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "ERROR?": "NONE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4220,
        -300
      ],
      "id": "22940579-3ec2-4c31-81b9-6550933b9654",
      "name": "SUCCESS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ERROR?": "ERROR"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4180,
        -20
      ],
      "id": "b8e2031d-7033-4027-8e7e-09ac68840616",
      "name": "ERROR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### SUCCESSFUL\n",
        "height": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        -360
      ],
      "id": "09711147-57b8-4c3c-82c7-c25a62d07b75",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Error",
        "height": 220,
        "width": 460,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        -80
      ],
      "id": "5fe4e090-9b7a-4059-9bf2-7b77c1355b8c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "chatId": "7439997846",
        "text": "ERROR ON INNER UPGRADE N8N FLOW",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4400,
        -20
      ],
      "id": "4a7a9c7a-ab50-474c-81bd-3c8a77e13407",
      "name": "Send a text message",
      "webhookId": "c6551412-2e09-462a-8049-b899b955d445",
      "credentials": {
        "telegramApi": {
          "id": "HHgbp1SZSR5uC5wr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "Inner-Upgrade",
        "platform": [
          "tiktok"
        ],
        "title": "={{ $json.output.tiktok.description }}",
        "caption": "={{ $json.output.tiktok.description }}",
        "video": "={{ $('Get row(s) in sheet').item.json.MEDIA }}"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        3260,
        -80
      ],
      "id": "e1073422-119d-4ce5-bc8b-f2f42869ab10",
      "name": "POST TO TIKTOK",
      "credentials": {
        "uploadPostApi": {
          "id": "6bPvReVoQxtm0Hka",
          "name": "Upload Post account"
        }
      }
    },
    {
      "parameters": {
        "content": "## THREADS Agent",
        "height": 220,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3210,
        60
      ],
      "id": "38162c89-fd3e-40fe-979e-4f8a83dd7a14",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k",
          "mode": "list",
          "cachedResultName": "IUP DAILY N8N RUN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1613208201,
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmUML753ZwlTn6Hee_6aZyqx-i6CIj1AffSnadBng9k/edit#gid=1613208201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "THREADS": "DONE",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXT",
              "displayName": "TEXT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PUBLIC?",
              "displayName": "PUBLIC?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIKTOK",
              "displayName": "TIKTOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THREADS",
              "displayName": "THREADS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ERROR?",
              "displayName": "ERROR?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3480,
        120
      ],
      "id": "4cf2cdfe-d3d5-4253-ba50-f6c794cbc7d8",
      "name": "UPDATE THREADS COLUMN",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "Inner-Upgrade",
        "platform": [
          "threads"
        ],
        "title": "={{ $json.output.instagram.description }}",
        "caption": "={{ $json.output.instagram.description }}",
        "video": "={{ $('Get row(s) in sheet').item.json.MEDIA }}",
        "threadsDescription": "={{ $json.output.instagram.description }}"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        3260,
        120
      ],
      "id": "5306c6b0-defa-4139-96ab-3f118b255fc9",
      "name": "POST TO THREADS",
      "credentials": {
        "uploadPostApi": {
          "id": "6bPvReVoQxtm0Hka",
          "name": "Upload Post account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ErJsFIMzI5GAr6Io"
  },
  "shared": [
    {
      "createdAt": "2025-07-12T16:29:17.733Z",
      "updatedAt": "2025-07-12T16:29:17.733Z",
      "role": "workflow:owner",
      "workflowId": "VaJsuENAdXPrutSc",
      "projectId": "aYesZFcPjHzYQyLq"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-23T15:44:47.395Z",
  "versionId": "c16350f0-7f96-4889-bf1a-248059bbca8b"
}