n8n-workflows/My workflow 9.json
{
  "active": false,
  "connections": {
    "Job Intake Webhook": {
      "main": [
        [
          {
            "node": "Generate Job Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Job Metadata": {
      "main": [
        [
          {
            "node": "Check Complexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Complexity": {
      "main": [
        [
          {
            "node": "Check GPU Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue for Pi5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check GPU Availability": {
      "main": [
        [
          {
            "node": "Queue for GPU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-03T15:10:56.782Z",
  "id": "fYgodVjxMj2ERw13",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5cd44575-f84b-42ab-bef3-175231201986",
      "name": "Job Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -80,
        80
      ],
      "webhookId": "b7969b5a-37d6-482b-8ec7-87331c04fa47"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "jobId",
              "value": "={{$now}}-{{$randomInt(1000, 9999)}}"
            },
            {
              "name": "status",
              "value": "received"
            },
            {
              "name": "createdAt",
              "value": "={{$now}}"
            },
            {
              "name": "priority",
              "value": "={{$json.body.priority || 'normal'}}"
            },
            {
              "name": "estimatedDuration",
              "value": "={{$json.body.duration || 60}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a9dcb9eb-3d33-4739-9a0e-988a54f6d772",
      "name": "Generate Job Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        160,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.estimatedDuration}}",
              "operation": "larger",
              "value2": "300"
            }
          ],
          "boolean": [
            {
              "value1": "={{$json.body.forceGpu || false}}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "d853eec7-f3a6-4573-8c5a-993e112a42e6",
      "name": "Check Complexity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        368,
        80
      ]
    },
    {
      "parameters": {
        "url": "http://{{$env.LAPTOP_IP}}:{{$env.LAPTOP_API_PORT}}/api/health",
        "options": {
          "timeout": 5000
        }
      },
      "id": "b01deafa-68bc-4fd8-85ee-2dc59dd45bed",
      "name": "Check GPU Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        368,
        -112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "55821f8c-8798-4388-946b-95254d489cf2",
      "name": "Queue for GPU",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        592,
        -112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e7f717b9-7fb0-4fe2-832c-62885b44c391",
      "name": "Queue for Pi5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        592,
        256
      ]
    },
    {
      "parameters": {},
      "id": "0310b5b3-ae26-4511-b678-65cd685d2b04",
      "name": "Save Job File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [
        816,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"jobId\": \"{{$json.jobId}}\",\n  \"status\": \"{{$json.status}}\",\n  \"estimatedProcessingTime\": \"{{$json.processingNode === 'laptop-gpu' ? '5-10 minutes' : '30-60 minutes'}}\",\n  \"statusUrl\": \"http://{{$env.PI5_IP}}:{{$env.WEBHOOK_PORT}}/webhook/job-status/{{$json.jobId}}\"\n}",
        "options": {}
      },
      "id": "e5ce9929-876b-4f36-b178-afd1da019327",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1e63e280-3955-4039-bc6d-727d5cf150f3",
      "name": "Trigger GPU Queue",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        816,
        -112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8ff33bb6-e356-46e8-bd3b-6a0155fbcd3e",
      "name": "Trigger Pi5 Queue",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        816,
        256
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-03T15:10:56.782Z",
      "updatedAt": "2025-08-03T15:10:56.782Z",
      "role": "workflow:owner",
      "workflowId": "fYgodVjxMj2ERw13",
      "projectId": "aYesZFcPjHzYQyLq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-03T15:10:56.782Z",
  "versionId": "816971d1-0179-4c1c-843f-7fffe0ff176a"
}