n8n-workflows/Parallel.json
{
  "active": false,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tools": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Tool Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "ai_outputParser": [
        [
          {
            "node": "Tool Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Tool Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Analysis Agent": {
      "main": [
        [
          {
            "node": "Update Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T20:37:47.680Z",
  "id": "iJXOIVsPbKzFbieJ",
  "isArchived": false,
  "meta": null,
  "name": "Parallel",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        540
      ],
      "id": "385369f1-2dd3-4248-8f3a-83b1624f49d3",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uNFhLb6zObDuS6iwGzV6ECk9g3DEj7df0afqfJ3thIo",
          "mode": "list",
          "cachedResultName": "Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNFhLb6zObDuS6iwGzV6ECk9g3DEj7df0afqfJ3thIo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNFhLb6zObDuS6iwGzV6ECk9g3DEj7df0afqfJ3thIo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        160,
        540
      ],
      "id": "236f5eea-7ce8-4fb0-9332-9dcca336d5e4",
      "name": "Get Tools"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        540,
        620
      ],
      "id": "31eecec4-5845-4dc4-8571-def73d67a941",
      "name": "4.1-mini"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"features\": \"A concise paragraph summarizing the core features and capabilities of the tool.\",\n  \"analysis\": \"A well-reasoned paragraph explaining potential business use cases, practical workflow integration ideas, and any industries or roles the tool is especially suited for.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        780,
        620
      ],
      "id": "47f9d216-18f7-419f-b597-939b550e6fe2",
      "name": "Output"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "=Do research to find features about this tool: {{ $json.Tool }}."
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        360,
        540
      ],
      "id": "5f68d5ea-8974-4491-abd4-056bb0513300",
      "name": "Perplexity Research"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uNFhLb6zObDuS6iwGzV6ECk9g3DEj7df0afqfJ3thIo",
          "mode": "list",
          "cachedResultName": "Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNFhLb6zObDuS6iwGzV6ECk9g3DEj7df0afqfJ3thIo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uNFhLb6zObDuS6iwGzV6ECk9g3DEj7df0afqfJ3thIo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tool": "={{ $('Get Tools').item.json.Tool }}",
            "Features": "={{ $json.output.Features.join(\"\\n\\n\") }}",
            "Status": "Processed",
            "Analysis": "={{ $json.output.Analysis }}"
          },
          "matchingColumns": [
            "Tool"
          ],
          "schema": [
            {
              "id": "Tool",
              "displayName": "Tool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Features",
              "displayName": "Features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        920,
        540
      ],
      "id": "a2e56cab-fd3b-4f25-ad55-57db8a11569e",
      "name": "Update Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tool: {{ $('Get Tools').item.json.Tool }}\n\nResearch: {{ $json.choices[0].message.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are a business analyst AI agent. You will be given the name of a specific software tool, app, or AI product, as well as research about the features.\n\nYour job is to:\n1. Identify and summarize the core features and capabilities of the tool.\n2. Analyze potential use cases for businesses — especially small to mid-sized businesses.\n3. Suggest how this tool could be integrated into workflows, systems, or teams to save time, reduce costs, or increase revenue.\n4. If relevant, highlight any industries or roles this tool is best suited for.\n\n## Output\nOutput your results in the following fields:\n1) Features\n2) Analysis"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        580,
        520
      ],
      "id": "15544126-35ec-44dc-a98e-a3c2bfc3aaca",
      "name": "Tool Analysis Agent"
    },
    {
      "parameters": {
        "content": "## Research done in parallel",
        "height": 300,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        420
      ],
      "id": "94c48e90-6035-4b8b-abe3-ec5928037f59",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Analysis NOT done in parallel\n",
        "height": 300,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        420
      ],
      "id": "ffe42c06-c403-4f03-a52d-1df6ed00c844",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get your workflow up and running:\n\n### ✅ Step 1: Copy the Google Sheet Template  \nMake a copy of this [Google Sheet template](https://docs.google.com/spreadsheets/d/1plaD8wVEiW0havQk-_HC7RY5vFI4uTAn1AmLy1njWi8/edit?usp=sharing) and link it to the Google Sheet nodes in your workflow.\n\n### ✅ Step 2: Create a Sub-workflow for Parallel Execution  \nTurn all the nodes after the Get Tools node into a sub-workflow. Configure it as shown in the YouTube tutorial so it runs in parallel.\n\n### ✅ Step 3: Connect Your Chat Model  \nLink your [OpenRouter](https://openrouter.ai/) credential or any chat model of your choice to power the tool analysis AI agent. Then run a test and watch the parallelization magic happen. 🚀\n",
        "height": 400,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2035c43d-4d8a-44cc-a82c-2da21f22ae8e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Send Analysis\n",
        "height": 300,
        "width": 200,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        420
      ],
      "id": "45b0d9ef-cfaa-4328-883e-b7c5c86fb0c5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Get Tools for Research\n\n",
        "height": 300,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        420
      ],
      "id": "99b623ce-21fd-4df6-88db-a9a207e9a5a3",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-16T20:37:47.680Z",
      "updatedAt": "2025-07-16T20:37:47.680Z",
      "role": "workflow:owner",
      "workflowId": "iJXOIVsPbKzFbieJ",
      "projectId": "aYesZFcPjHzYQyLq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-16T20:37:02.134Z",
      "updatedAt": "2025-07-16T20:37:02.134Z",
      "id": "JfyC5bI87XVIsHYp",
      "name": "Parallelization"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T20:37:47.680Z",
  "versionId": "3902e313-eb28-410a-95b4-17e8d9b5b2d7"
}