n8n-workflows/VEO 3 VIDEO GENERATOR.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video": {
      "main": [
        [
          {
            "node": "Create New Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Record": {
      "main": [
        [
          {
            "node": "Get Video For Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video For Reply": {
      "main": [
        [
          {
            "node": "Reply Telegram (update chat id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-08T19:56:24.140Z",
  "id": "8u0QyxodmrvXFIqv",
  "isArchived": false,
  "meta": null,
  "name": "VEO 3 VIDEO GENERATOR",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "name"
            },
            {
              "name": "prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "dc17dbcf-b01e-4b2a-813d-82c2b03c8dd7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/google/veo-3/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "id": "98ac5ad8-12a7-4f2f-9a76-528965b79126",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        360,
        0
      ],
      "id": "99ae995f-5b23-4133-a96c-808f3979fdaa",
      "name": "Wait",
      "webhookId": "968ce256-bd84-4f80-bb09-35a2cf68e656"
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        0
      ],
      "id": "945ca70f-9a2b-4e82-bb1e-e57bdcde1edb",
      "name": "Get Video"
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "id": "fe04695b-8092-4165-b50a-b3879a0fa8b4",
      "name": "Download Video"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appJt0NXgy4Qdiwme",
          "mode": "list",
          "cachedResultName": "VEO 3 Videos",
          "cachedResultUrl": "https://airtable.com/appJt0NXgy4Qdiwme"
        },
        "table": {
          "__rl": true,
          "value": "tblH2A94diY7VjjH7",
          "mode": "list",
          "cachedResultName": "Videos",
          "cachedResultUrl": "https://airtable.com/appJt0NXgy4Qdiwme/tblH2A94diY7VjjH7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Prompt": "={{ $('When Executed by Another Workflow').item.json.prompt }}",
            "Video Link": "={{ $json.webViewLink }}",
            "Status": "Generated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Link",
              "displayName": "Video Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Generated",
                  "value": "Generated"
                },
                {
                  "name": "Ready To Post",
                  "value": "Ready To Post"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tiktok",
              "displayName": "Tiktok",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Youtube",
              "displayName": "Youtube",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created TIme",
              "displayName": "Created TIme",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1060,
        0
      ],
      "id": "b467e5d5-350a-48fc-8a71-cc5a87514b38",
      "name": "Create New Record"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1y070Pr3NZUdcLMILbDxwhmQdd1MyK8vk",
          "mode": "list",
          "cachedResultName": "VEO 3 Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1y070Pr3NZUdcLMILbDxwhmQdd1MyK8vk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        900,
        0
      ],
      "id": "8e995ab2-291a-42e7-bc50-ece7eeaa354e",
      "name": "Upload Video"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fields['Video Link'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1240,
        0
      ],
      "id": "a7b0881d-afdc-47fa-9868-c399fe802cd8",
      "name": "Get Video For Reply"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "{insert chat id}",
        "binaryData": true,
        "additionalFields": {
          "caption": "=Your video: {{ $json.fields.Name }} , has been generated! Check it out and let me know what you think!"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1420,
        0
      ],
      "id": "4a9181cd-af2f-4f4c-b750-2588d0980f9e",
      "name": "Reply Telegram (update chat id)",
      "webhookId": "6fe64948-a4c0-404e-b723-b7f367de336b"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-08T19:56:24.140Z",
      "updatedAt": "2025-07-08T19:56:24.140Z",
      "role": "workflow:owner",
      "workflowId": "8u0QyxodmrvXFIqv",
      "projectId": "aYesZFcPjHzYQyLq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-08T19:53:20.512Z",
      "updatedAt": "2025-07-08T19:53:20.512Z",
      "id": "jYNFyBg3X76FJDH4",
      "name": "W18: VEO 3 Video"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-08T19:56:38.687Z",
  "versionId": "46790020-17fb-46de-9597-d73690efd4e0"
}