n8n-workflows/VEO3 ASMR copy.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Elements AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Elements AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompt AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Elements AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Prompt AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Elements AI Agent": {
      "main": [
        [
          {
            "node": "Unbundle Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt AI Agent": {
      "main": [
        [
          {
            "node": "Create Veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Clips": {
      "main": [
        [
          {
            "node": "Sequence Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser 1": {
      "ai_outputParser": [
        [
          {
            "node": "Elements AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser 2": {
      "ai_outputParser": [
        [
          {
            "node": "Prompt AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Unbundle Elements": {
      "main": [
        [
          {
            "node": "Prompt AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Veo3": {
      "main": [
        [
          {
            "node": "Wait for Veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Veo3": {
      "main": [
        [
          {
            "node": "Group Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Veo3": {
      "main": [
        [
          {
            "node": "Get Veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequence Video": {
      "main": [
        [
          {
            "node": "Wait for Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Final Video": {
      "main": [
        [
          {
            "node": "Get Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "node": "Log Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-29T18:36:32.278Z",
  "id": "2H1R5zemNR4ErDYq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "VEO3 ASMR copy",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -360,
        0
      ],
      "id": "60bee3e1-195a-41a3-980e-889da867acf2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        260,
        220
      ],
      "id": "a5a113a8-687e-4243-aa73-f2d2ad808906",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Z0qdSGsCKeFZM9R5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        380,
        220
      ],
      "id": "60ef3aa4-bf7a-472a-bada-8bdf66a34c72",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a scene",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a precision prompt generator for realistic, cinematic AI video scenes.\n\n***\n\nEach time you're called, you will receive five dynamic inputs:\n\ninstrument {{ $json.elementA }}\ncolor {{ $json.elementB }}\nmaterial {{ $json.elementC }}\nobject {{ $json.elementD }}\nsurface {{ $json.elementE }}\n\n***\n\nYour job is to take these values and insert them into the following template exactly, replacing the corresponding words. Do not use curly brackets or add extra formatting. Do not explain anything.\n\nReturn the result as a single JSON object with this structure:\n\n{\n  \"video_prompt\": \"Realistic 4k footage close-up of a {{ $json.elementA }} quickly cutting a {{ $json.elementB }} {{ $json.elementC }} {{ $json.elementD }} on a {{ $json.elementE }}. It slices it quickly multiple times, each slice falls over as the knife moves to the next. The inside of the object being cut is also {{ $json.elementC }} and inside it shows intricate and beautiful visual patterns. The sound is ASMR style.\"\n}\n\n\n\n\n\nReplace the values in square brackets with the actual inputs. Do not include square brackets or quotes around the values in the final result.\n\nOutput only the final JSON. Nothing else.\n\nUse the Think tool to review your output"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        520,
        0
      ],
      "id": "2429f346-5cc0-4cff-b147-d2c5092502d5",
      "name": "Prompt AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate 10 scenes",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Use the Think tool to carefully generate your output.\n\nYou are an expert visual prompt generator for AI video creation. Your job is to create realistic, cinematic ASMR cutting scenes for AI-generated videos. Each scene features an object being sliced on a surface using a tool.\n\nEach time you are called:\n\nRandomly select one value from each of the five lists: instrument, color, material, object, and surface\n\n For this round, refer to them as:\n\n  Element A = instrument\n  Element B = color\n  Element C = material\n  Element D = object\n  Element E = surface\n\n\nConstruct a structured JSON that includes:\n\nA title that is short (max 7 words), vivid, and exciting — it should clearly mention the object being cut and what it’s made of. Make it feel like a YouTube or TikTok title\n\nA caption that sounds like a real human reacting to the ASMR feel — short, casual, and personal. Mention something about how it looks or sounds. Include 1 emoji and 2 hashtags\n\nA list of scenes, where each scene follows the format below\n\nYour output must always follow this format in valid JSON:\n\n{\n\"title\": \"Exciting and descriptive title here\",\n\"caption\": \"Short, human reaction caption with 1 emoji and 2 hashtags\",\n\"scenes\": [\n {\n        \"elementA\": \"\",\n        \"elementB\": \"\",\n        \"elementC\": \"\",\n        \"elementD\": \"\",\n        \"elementE\": \"\"\n      }\n    ]\n  }\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -100,
        0
      ],
      "id": "51d3a42c-f958-418f-9a57-d2ba30e2bb9e",
      "name": "Elements AI Agent"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    video_urls: items.map(item => item.json.data.response.resultUrls).flat()\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ],
      "id": "dce951a2-73c9-4ba4-9bbf-1b5af6c8029e",
      "name": "Group Clips"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Sample Video Title Here\",\n  \"caption\": \"Sample caption goes here, short and attention-grabbing.\",\n  \"scenes\": [\n    {\n      \"elementA\": \"Placeholder A\",\n      \"elementB\": \"Placeholder B\",\n      \"elementC\": \"Placeholder C\",\n      \"elementD\": \"Placeholder D\",\n      \"elementE\": \"Placeholder E\"\n    },\n    {\n      \"elementA\": \"Placeholder A\",\n      \"elementB\": \"Placeholder B\",\n      \"elementC\": \"Placeholder C\",\n      \"elementD\": \"Placeholder D\",\n      \"elementE\": \"Placeholder E\"\n    },\n    {\n      \"elementA\": \"Placeholder A\",\n      \"elementB\": \"Placeholder B\",\n      \"elementC\": \"Placeholder C\",\n      \"elementD\": \"Placeholder D\",\n      \"elementE\": \"Placeholder E\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -20,
        220
      ],
      "id": "d5343f51-aa2e-4561-8f3a-5d7f6589d000",
      "name": "Parser 1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"video_prompt\": \"sample prompt here\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        600,
        220
      ],
      "id": "b878d17c-6c4e-4356-880f-c573b1abb5ca",
      "name": "Parser 2"
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\ntry {\n  const inputData = items[0].json;\n\n  // Check if scenes exist in the expected structure\n  if (\n    inputData.output &&\n    Array.isArray(inputData.output.scenes)\n  ) {\n    const scenes = inputData.output.scenes;\n\n    // Map each scene object to its own output item\n    output = scenes.map(scene => ({ json: scene }));\n  } else {\n    throw new Error(\"No scenes array found under output.scenes.\");\n  }\n} catch (e) {\n  throw new Error(\"Could not extract scenes properly. Details: \" + e.message);\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "id": "5268feaa-99c9-48c8-b447-a16067a92a2a",
      "name": "Unbundle Elements"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/integral-loop-464312-n7/locations/us-central1/publishers/google/models/veo-3.0-generate-preview:predictLongRunning",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $json.output.video_prompt }}\"\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "995a3bac-345a-490f-8b82-2422ababa74d",
      "name": "Create Veo3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i6X3fH9gEWk4yda5",
          "name": "VERTEX API ACCESS"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://us-central1-aiplatform.googleapis.com/v1/{{ $('Create Veo3').item.json.name }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "id": "ccd1b4b1-e8e1-4671-9ce2-324734db60e9",
      "name": "Get Veo3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i6X3fH9gEWk4yda5",
          "name": "VERTEX API ACCESS"
        }
      }
    },
    {
      "parameters": {
        "amount": 800
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ],
      "id": "a9e04481-c2df-4717-8e80-982998e32de4",
      "name": "Wait for Veo3",
      "webhookId": "b2ffb293-a36a-4483-851c-98637920aa9e"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Dr1-JXJnXLznUE_RY8d8N8_vBksb5FdqNvy3gHwBhSo",
          "mode": "list",
          "cachedResultName": "Veo 3 in N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dr1-JXJnXLznUE_RY8d8N8_vBksb5FdqNvy3gHwBhSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1849230406,
          "mode": "list",
          "cachedResultName": "VEO3 ASMR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dr1-JXJnXLznUE_RY8d8N8_vBksb5FdqNvy3gHwBhSo/edit#gid=1849230406"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "==ROW()-1",
            "publishing_status": "=for publishing",
            "caption": "={{ $('Elements AI Agent').first().json.output.caption }}",
            "title": "={{ $('Elements AI Agent').first().json.output.title }}",
            "prompt_3": "={{ $('Elements AI Agent').first().json.output.scenes[2].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[2].elementD }}",
            "prompt_2": "={{ $('Elements AI Agent').first().json.output.scenes[1].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[1].elementD }}",
            "prompt_1": "={{ $('Elements AI Agent').first().json.output.scenes[0].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[0].elementD }}",
            "final_output": "=https://5770e8e2-15e8-4374-8a81-74d776ecbe3f-00-2mvk2r56b82g7.picard.replit.dev{{ $json.downloadUrl }}",
            "prompt_4": "={{ $('Elements AI Agent').first().json.output.scenes[3].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[3].elementD }}",
            "prompt_5": "={{ $('Elements AI Agent').first().json.output.scenes[4].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[4].elementD }}",
            "prompt_6": "={{ $('Elements AI Agent').first().json.output.scenes[5].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[5].elementD }}",
            "prompt_7": "={{ $('Elements AI Agent').first().json.output.scenes[6].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[6].elementD }}",
            "prompt_8": "={{ $('Elements AI Agent').first().json.output.scenes[7].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[7].elementD }}",
            "prompt_9": "={{ $('Elements AI Agent').first().json.output.scenes[8].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[8].elementD }}",
            "prompt_10": "={{ $('Elements AI Agent').first().json.output.scenes[9].elementA }}_{{ $('Elements AI Agent').first().json.output.scenes[9].elementD }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt_1",
              "displayName": "prompt_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_2",
              "displayName": "prompt_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_3",
              "displayName": "prompt_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_4",
              "displayName": "prompt_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt_5",
              "displayName": "prompt_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt_6",
              "displayName": "prompt_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt_7",
              "displayName": "prompt_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt_8",
              "displayName": "prompt_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt_9",
              "displayName": "prompt_9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prompt_10",
              "displayName": "prompt_10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publishing_status",
              "displayName": "publishing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2420,
        0
      ],
      "id": "53a6753a-b1b9-440a-9fc0-77066409a572",
      "name": "Log Video",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G5F0HGiAwsbqZpbE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://5770e8f-00-2mvk2r56b82g7.picard.replit.dev/api/stitch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videos\": [\n \"{{ $json.video_urls[0] }}\",\n \"{{ $json.video_urls[1] }}\",\n \"{{ $json.video_urls[2] }}\",\n \"{{ $json.video_urls[3] }}\",\n \"{{ $json.video_urls[4] }}\",\n \"{{ $json.video_urls[5] }}\",\n \"{{ $json.video_urls[6] }}\",\n \"{{ $json.video_urls[7] }}\",\n \"{{ $json.video_urls[8] }}\",\n \"{{ $json.video_urls[9] }}\"\n  ],\n  \"format\": \"mp4\",\n  \"quality\": \"high\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        0
      ],
      "id": "f1e66dea-6279-47c4-ae99-d9d973fcde43",
      "name": "Sequence Video"
    },
    {
      "parameters": {
        "url": "=https://5770e8e2-2mvk2r56b82g7.picard.replit.dev/api/jobs/{{ $json.jobId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        0
      ],
      "id": "b28234d6-209e-4094-bb5d-dcbce114e717",
      "name": "Get Final Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i6X3fH9gEWk4yda5",
          "name": "VERTEX API ACCESS"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1980,
        0
      ],
      "id": "dddeb72a-73a3-48de-898e-9e963fb1ab94",
      "name": "Wait for Final Video",
      "webhookId": "67aa1a6d-e2e0-41b0-96e3-086aa88488a3"
    },
    {
      "parameters": {
        "content": "## | Step 1: Generate Prompt",
        "height": 100,
        "width": 900,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        -140
      ],
      "id": "2f24fac8-36f2-49ee-ba33-459e1d968298",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## | Step 2: Generate Clips with Veo3-Fast",
        "height": 100,
        "width": 540,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -140
      ],
      "id": "5d17c348-48d1-4452-851c-b951e388f822",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## | Step 3: Combine to Final Vid",
        "height": 100,
        "width": 780,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        -140
      ],
      "id": "80a74c5c-6ca2-4876-8af1-2e201c647bcc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## APIS FOR CONCATENATING\n\nhttps://replit.com/@smileycharvat/WTFKreativeVideoStitch-1\n\nhttps://apidog.com/blog/how-to-use-replit-ai-for-free/\n\n[Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 220,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        440
      ],
      "typeVersion": 1,
      "id": "f811762d-500a-4d44-9375-d4b74cd553a5",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-29T18:36:32.278Z",
      "updatedAt": "2025-07-29T18:36:32.278Z",
      "role": "workflow:owner",
      "workflowId": "2H1R5zemNR4ErDYq",
      "projectId": "aYesZFcPjHzYQyLq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-29T20:30:03.848Z",
  "versionId": "2f093699-37cc-47f1-a06a-23e5a998e0bb"
}