n8n-workflows/VideoStitch.json
{
  "active": false,
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "Create Stitch Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Stitch Job": {
      "main": [
        [
          {
            "node": "Initial Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Wait": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-29T18:55:09.811Z",
  "id": "nAdd4haLe0RjET50",
  "isArchived": false,
  "meta": null,
  "name": "VideoStitch",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "64ac8795-9459-433c-a916-e2424817a375",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{ $node['Set Variables'].json.api_base_url }}/api/stitch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videos\": [\n    \"{{ $node['Set Variables'].json.video1_url }}\",\n    \"{{ $node['Set Variables'].json.video2_url }}\"\n  ],\n  \"captions\": [\n    \"First Video - Big Buck Bunny\",\n    \"Second Video - Elephants Dream\"\n  ],\n  \"captionPosition\": \"bottom\",\n  \"format\": \"mp4\",\n  \"quality\": \"high\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "52428f65-f020-4b3a-b6c0-19ae12c8d0a2",
      "name": "Create Stitch Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "6a34dfa7-26de-4be8-85d9-05d4d0a384f3",
      "name": "Initial Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        -120
      ],
      "webhookId": "bb331da4-55b0-46ca-a7f9-56e51abb7dbb"
    },
    {
      "parameters": {
        "url": "={{ $node['Set Variables'].json.api_base_url }}/api/jobs/{{ $node['Create Stitch Job'].json.jobId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4f3f4f4a-42a8-42b4-a4d3-7370e6c9a977",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2f77c54d-907a-4950-a8ec-4d8a56f0a9f8",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        360,
        -120
      ]
    },
    {
      "parameters": {
        "url": "={{ $node['Set Variables'].json.api_base_url }}{{ $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3332e7d7-d9bb-4ea3-bd9f-5c0f1e779e95",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -220
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "05c1f215-dcfa-4dfb-9545-86238a8d9319",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        580,
        -20
      ],
      "webhookId": "e5e979b9-0de9-49bf-8064-8d364c0b71a0"
    },
    {
      "parameters": {
        "errorMessage": "Video stitching job failed: {{ $json.error || 'Unknown error' }}"
      },
      "id": "e3453f96-43b8-45f8-b775-9eb1ff82471f",
      "name": "Handle Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        580,
        80
      ]
    },
    {
      "parameters": {},
      "id": "d653c0bb-8940-4692-a329-98f05b71fc9d",
      "name": "Save Video File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [
        800,
        -220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-29T18:55:09.811Z",
      "updatedAt": "2025-07-29T18:55:09.811Z",
      "role": "workflow:owner",
      "workflowId": "nAdd4haLe0RjET50",
      "projectId": "aYesZFcPjHzYQyLq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-29T18:55:09.811Z",
  "versionId": "0259ff2a-e97d-435f-9af9-272e0884b127"
}