n8n-workflows/WhatsApp YT Scraper.json
{
  "active": false,
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-03T21:18:50.074Z",
  "id": "wY3kSrqtmHrWWvVx",
  "isArchived": false,
  "meta": null,
  "name": "WhatsApp YT Scraper",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f7a464a9-c7c3-4ec1-ae32-3e401ab52307",
      "name": "WhatsApp Trigger",
      "webhookId": "528ca1b4-1941-45c2-8dc3-f6d992458c53"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a helpful assistant named Natasha.\n\nYou are currently talking to {{ $json.contacts[0].profile.name }}\n\nThe current date and time is {{  $now.toISO() }}\n\nRespond in 1-2 sentences and as if talking to a close friend at a fifth grade reading level.\n\nFor scraping YouTube, use the following JSON request body, and replace the searchQueries with the search term from the client:\n\n{\n    \"dateFilter\": \"month\",\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 10,\n    \"maxResultsShorts\": 10,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"n8n mcp\"\n    ],\n    \"sortingOrder\": \"relevance\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "a1d3268e-fea7-4be3-ae3f-adf8988e760a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        272
      ],
      "id": "1ac23372-560c-4dbe-b6c2-d6f74d43bc97",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        720,
        240
      ],
      "id": "2128a291-5719-4cf4-bc2f-65f34f533a93",
      "name": "Think"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "632776769922157",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "aa3ab568-b309-45f5-91ff-9cd22c65c3f7",
      "name": "WhatsApp Business Cloud",
      "webhookId": "bd23a8e5-d4df-4686-bbd2-663ff625c611"
    },
    {
      "parameters": {
        "sseEndpoint": "MCP Endpoint Here"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        448,
        272
      ],
      "id": "076e44bb-d903-4312-a33d-a6322fb1e88d",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": "qwen/qwen-2.5-72b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "cfa656cc-4c15-4608-9d89-5b0520e1a018",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Z0qdSGsCKeFZM9R5",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-03T21:19:08.112Z",
  "versionId": "9dd2b72e-fd0b-43f9-bb59-684e419ef212"
}